.page-about {
	padding-top: 60px;
	.page-title {
		margin-bottom: 30px;
	}
	.about-information {
		margin-bottom: 80px;
		position: relative;
		z-index: 1;
	}
	.about-img {
		position: relative;
		height: 450px;
		margin-bottom: 50px;
		.back-img {
			width: 1060px;
			background-color: #f00024;
			display: inline-block;
			height: 380px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -530px;
			margin-top: -190px;
			z-index: 0;
		}
		.item-img {
			width: 100%;
			height: 450px;
			padding: 0 100px;
			z-index:1;
			position: relative;
			img {
				width: 100%;
				height: 100%;
				display: block;
			}
		}
	}
	.about-text {
		width: 100%;
		display: block;
		text-align: center;
		padding: 0 100px;
		b {
			@extend .font-bold;
			color: #000000;
			font-size: 24px;
			line-height: 34px;
			display: block;
			padding: 0 260px;
			margin-bottom: 30px;
		}
		p {
			@extend .font-regular;
			color: #000000;
			font-size: 18px;
			line-height: 30px;
			display: block;
			padding: 0 185px;
		}
	}
}


@media (max-width:740px) {
	.page-about {
		padding-top: 30px;
		.points-container {
			display: none;
		}
		.about-img {
			height: auto;
			margin-bottom: 20px;
		}
		.back-img {
			display: none !important;
		}
		.item-img {
			height: 240px;
			max-height: 240px;
			padding: 0 !important;
			img {

			}
		}
		.about-text {
			padding: 0 15px;
			b {
				padding: 0;
				margin-bottom: 10px;
				font-size: 20px;
				line-height: 1.3;
			}
			p {
				padding: 0;
				margin: 0;
				font-size: 16px;
				line-height: 1.5;
			}
		}
	}
}

@media (max-width: 659px) and (orientation:landscape) {
	.about-img {
		text-align: center !important;
	}
	.item-img {
		display: inline-block;
		width: 500px !important;
		height: 240px !important;
		padding: 0 !important;
		img {

		}
	}
}

@media (min-width: 660px) and (max-width: 741px) and (orientation:landscape) {
  	.about-img {
		text-align: center !important;
	}
	.item-img {
		display: inline-block;
		width: 650px !important;
		height: 300px !important;
		max-height: 100% !important;
		padding: 0 !important;
		img {
			height: 100%;
		}
	}
}

@media (min-width:740px) and (max-width: 1024px) {
	.page-about {
		padding: 30px 0 0 0;
		.page-title {
			margin-left: 15px;
		}
		.points-container {
			display: none;
		}
		.about-img {
			height: auto;
			margin-bottom: 20px;
		}
		.back-img {
			display: none !important;
		}
		.item-img {
			height: auto !important;
			padding: 0 !important;
			img {

			}
		}
		.about-text {
			padding: 0 15px;
			b {
				padding: 0;
				margin-bottom: 10px;
				font-size: 20px;
				line-height: 1.3;
			}
			p {
				padding: 0;
				margin: 0;
				font-size: 16px;
				line-height: 1.5;
			}
		}
	}
}