<!-- header -->
<header class="header">
  <div class="container">
    <div class="logo">
    	<a href="/">
			<img src="../images/logo.svg">
			<small>Сеть магазинов косметики и парфюмерии</small>
		</a>
    </div>
    {% include "nav-main/_nav-main.html" %}
    <div class="m-nav-btn">
    	<span></span>
    </div>
  </div>
</header><!-- end .header