.header {
	height: 80px;
	line-height: 80px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	position: fixed;
	transform: translate(0,0);
	top:0;
	left: 0;
	right: 0;
	z-index: 10;
	transition: all .3s;
	&.init_scroll {
		transform: translate(0,-80px);
		top: 0;
	}
	&.show {
		transform: translate(0,0);
		top: 0;
	}
	.logo {
		display: inline-block;
		vertical-align: middle;
			width: 280px;
			height: 58px;
			line-height: 1;
		a {
				display: block;
				img {
					height: 36px;
					width: 100%;
					margin-bottom: 8px;
				}
		}
		small {
			@extend .font-regular;
			color: #000000;
			font-size: 13px;
		}
	}
	@media (max-width: 740px) {
		padding: 0 15px;
		z-index: 20;
		.logo {
			width: 200px;
			img {
				width: 200px;
				height: 30px;
				margin-bottom: 0 !important;
			}
			small {
				font-size: 10px;
				white-space: nowrap;
			}

		}
		.m-nav-btn {
			display: inline-block !important;
		}
	}
	.m-nav-btn {
		display: none;
	    width: 30px;
	    height: 100%;
	    background: #fff;
	    float: right;
	    span {
	    	position: relative;
    	    display: inline-block;
		    vertical-align: middle;
		    width: 30px;
		    height: 3px;
		    background: #000;
	    	&::before,
		    &::after {
		    	content: '';
			    transition: all .2s;
			    display: inline-block;
			    height: 3px;
			    content: "";
			    background: #000;
			    position: absolute;
			    left: 0;
			    width: 100%;
		    }
		    &::before {
			    top: -10px;
		    }
		    &::after {
				bottom: -10px;
	    	}	
	    }
	    &.open {
	    	span {
	    		background:transparent;
	    		&::before {
    			    top: 0;
				    transform: rotate(45deg);
	    		}
	    		&::after {
			    	transform: rotate(-45deg);
   	 				bottom: 0;
	    		}
	    	}
	    }
	    
	}
}


@media (max-width: 740px) {
	.header {
		padding: 0 15px;
		z-index: 20;
		.logo {
			img {
				width: 240px;
			}
		}
		.m-nav-btn {
			display: inline-block !important;
		}
	}
}

@media (min-width:741px) and (max-width: 1024px) {
	.header {
		padding: 0 15px;
		z-index: 20;
		.logo {
			img {
				width: 270px;
			}
		}
		.m-nav-btn {
			display: inline-block !important;
		}
	}
}