.page-title {
	@extend .font-bold;
	letter-spacing: 4px;
	color: #000000;
	font-size: 28px;
	line-height: 1;
	text-transform: uppercase;
	display: block;
	margin: 0;
	padding-bottom: 45px;
	position: relative;
	white-space: nowrap;
	&::after {
		content:'';
		position: absolute;
		left: 0;
		bottom: 0;
		background:#000;
		width: 90px;
		height: 2px;
	}
	@media (max-width: 740px) {
		font-size: 20px;
		padding-bottom: 25px;
		text-align: center;
		&::after {
			left: 50%;
			margin-left: -45px;
		}
	}
	@media (min-width:740px) and (max-width: 1024px) {
		font-size: 24px;
		padding-bottom: 35px;
	}
}



.content {
	min-height: 100vh;
	[data-template="club"] & {
		min-height: 80vh;
	}
	[data-template="brands"] & {
		min-height: auto;
	}
}


body {
	@media (max-width: 1024px) {
		min-width: 100%;
		&.open {
			overflow: hidden;
		}
	}
}

.m-overlay {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 19;
	background:rgba(0,0,0,.5);
	@media (max-width: 1024px) {
		&.open {
			display: block;
		}
	}
}