.page-brands {
	padding: 60px 0 120px 0;
	[data-template="brands"] & {
		.points-container {
			z-index: -1;
		}
	}
}

.brands-container {
	display: block;
	width: 100%;
	font-size: 0;
	padding-top: 50px;
	.col {
		display: inline-block;
		vertical-align: top;
		width: 20%;
		ul {
			margin:0;
			padding: 0;
			list-style: none;
		}
		li {
			display: block;
			margin-bottom: 25px;
		}
		a {
			@extend .font-bold;
			color: #000000;
			font-size: 18px;
			line-height: 1;
			border-bottom: 1px solid #f00024;
			transition: all .3s;
			white-space: nowrap;
			&:hover {
				color: #f00024;
				border-color: transparent;
			}
		}
	}
}


#cboxLoadedContent {
	background: #fff;
	border: none !important;
	text-align: left;
	padding: 40px 50px;

	span {
		@extend .font-bold;
		color: #000000;
		font-size: 24px;
		font-weight: 700;
	}

	p {
		@extend .font-regular;
		margin-top: 25px;
		color: #000000;
		font-size: 14px;
		line-height: 20px;
		white-space: normal;
	}
}





#cboxOverlay {
	background: rgba(#000,0.4);
}
#cboxCurrent {
	display: none;
}
#cboxContent {	
	padding: 0 40px;
	background: transparent;
	overflow: initial;
}
#cboxLoadedContent {
	border: 8px solid #fff;
	margin-bottom: 0;
}
#cboxClose {
	position: absolute;
	top: 10px;
	right: 50px;
	width: 45px;
	height: 42px;
	background-color: transparent;
	background-image: url(../images/cbox-close.svg);
	background-position: center center;
	&:hover {
		background-position: center center;
	}
}
#cboxPrevious, #cboxNext {
	width: 50px;
	height: 50px;
	background-color: #ec2028;
	border-radius: 100%;
	background-position: center center;
	background-size: 60%;
	position: absolute;
	transition: all .3s;
	top: 50%;
	transform: translateY(-50%);
	&:hover {
		background-position: center center;
	}
}
#cboxPrevious {
	background-image: url(../images/cbox-prev.svg);
	left: -20px;
	&:hover {
		background-color: #fcfaf7;
		background-image: url(../images/arrow_left-red.svg);
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	}
}
#cboxNext {
	background-image: url(../images/cbox-next.svg);
	right: -20px;
	left: auto;
	&:hover {
		background-color: #fcfaf7;
		background-image: url(../images/arrow_right-red.svg);
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	}
}
#cboxCurrent {
	display: none !important;
}
#cboxMiddleRight, #cboxTopRight,#cboxTopCenter,#cboxTopLeft,#cboxMiddleLeft,#cboxBottomLeft,#cboxBottomCenter,#cboxBottomRight {
	background: none;
}


@media (max-width: 740px) {
	.page-brands {
		padding: 30px 0;
		.points-container {
			display: none;
		}
	}
	.brands-container {	
		display: block !important;
		padding: 0 15px;
		margin-top: 30px;
		.col {
			display: block;
			vertical-align: top;
			width: 100%;
			li {
				display: block;
				margin-bottom: 25px;
			}
			a {
				color: #000000;
				font-size: 18px;
				line-height: 1;
				border-bottom: 1px dashed #000;
				transition: all .3s;
				white-space: nowrap;
				&:hover {
					color: #f00024;
					border-color: transparent;
				}
			}
		}
	}
	#cboxLoadedContent {
		background: #fff;
		text-align: center;
		
		span {
			color: #000000;
			font-size: 18px;
			font-weight: 700;
			white-space: normal;
			padding-top: 30px;
			display: inline-block;
		}

		p {
			margin-top: 15px;
			font-size: 14px;
			line-height: 20px;
			white-space: normal;
			padding: 0 50px;
		}
	}
	#colorbox {
		width: 100% !important;
		#cboxWrapper {
			width: 100% !important;
			height: auto !important;
			overflow: initial;
			#cboxContent {
				width: 100% !important;
				height: auto !important;
				padding: 0;
				position: absolute;
				// top: 0;
				#cboxLoadedContent {
					width: 100% !important;
					height: auto !important;
					padding: 0;
				}
			}
		}
	}
	#cboxPrevious {
		background-image: url(../images/cbox-prev.svg);
		left: 0px;
	}
	#cboxNext {
		background-image: url(../images/cbox-next.svg);
		right: 0px;
		left: auto;
	}
	#cboxPrevious, #cboxNext {
		width: 38px;
		height: 38px;
		background-size: 60%;
	}
	#cboxClose {
		right: 0px;
		top: 5px;
	}
}

@media (max-width: 740px) and (orientation:landscape) {
	.brands-container {	
		.col {
			display: inline-block;
			width: 50% !important;
		}
	}
}

@media (min-width: 740px) and (max-width:1024px) {
	.page-brands {
		padding: 30px 15px;
		.points-container {
			display: none;
		}
	}
	.brands-container {	
		display: block !important;
		.col {
			display: inline-block;
			vertical-align: top;
			width: (100%/3);
			margin-bottom: 20px;
			li {
				display: block;
				margin-bottom: 25px;
			}
			a {
				color: #000000;
				font-size: 18px;
				line-height: 1;
				border-bottom: 1px dashed #000;
				transition: all .3s;
				white-space: nowrap;
				&:hover {
					color: #f00024;
					border-color: transparent;
				}
			}
		}
	}
}