// Using @font-face
// Just only three file formats required
// no need to include files with svg or eot extensions
// With these three formats we have pretty good browsers support e.g.
// Chrome 3.5+, Safari 3+, Firefox 3.5+, Opera 10.1+, IE9+, Android 2.2+, iOS 4.3+

@font-face {
  font-family: "StemText-Regular";
  src:
    inline("#{$path-fonts}/StemText-Regular.woff2") format("woff2"),
    inline("#{$path-fonts}/StemText-Regular.woff") format("woff"),
    inline("#{$path-fonts}/StemText-Regular.ttf")  format("truetype");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "StemText-Bold";
  src:
    inline("#{$path-fonts}/StemText-Bold.woff2") format("woff2"),
    inline("#{$path-fonts}/StemText-Bold.woff") format("woff"),
    inline("#{$path-fonts}/StemText-Bold.ttf")  format("truetype");
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: "StemText-Italic";
  src:
    inline("#{$path-fonts}/StemText-Italic.woff2") format("woff2"),
    inline("#{$path-fonts}/StemText-Italic.woff") format("woff"),
    inline("#{$path-fonts}/StemText-Italic.ttf")  format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "StemText-BoldItalic";
  src:
    inline("#{$path-fonts}/StemText-BoldItalic.woff2") format("woff2"),
    inline("#{$path-fonts}/StemText-BoldItalic.woff") format("woff"),
    inline("#{$path-fonts}/StemText-BoldItalic.ttf")  format("truetype");
  font-style: normal;
  font-weight: normal;
}


.font-regular {
	font-family: "StemText-Regular";
}
.font-bold {
	font-family: "StemText-Bold";
}
.font-italic {
	font-family: "StemText-Italic";
}
.font-bold-italic {
	font-family: "StemText-BoldItalic";
}