// настройка сетки
// **********************************************************************************
@include make-grid-columns;

@include make-grid($grid-col-phone);

@include respond-to($respond-tablet) {
  @include make-grid($grid-col-tablet);
}

@include respond-to($respond-desktop) {
  @include make-grid($grid-col-desktop);
}

@include respond-to($respond-large) {
  @include make-grid($grid-col-large);
}

@include responsive-invisibility('.#{$visible-phone}');
@include responsive-invisibility('.#{$visible-tablet}');
@include responsive-invisibility('.#{$visible-desktop}');
@include responsive-invisibility('.#{$visible-max}');

.#{$visible-phone}-block,
.#{$visible-phone}-inline,
.#{$visible-phone}-inline-block,
.#{$visible-tablet}-block,
.#{$visible-tablet}-inline,
.#{$visible-tablet}-inline-block,
.#{$visible-desktop}-block,
.#{$visible-desktop}-inline,
.#{$visible-desktop}-inline-block,
.#{$visible-max}-block,
.#{$visible-max}-inline,
.#{$visible-max}-inline-block {
  display: none !important;
}

@media (max-width: $screen-xs-max) {
  @include responsive-visibility('.#{$visible-phone}');
}
.#{$visible-phone}-block {
  @media (max-width: $screen-xs-max) {
    display: block !important;
  }
}
.#{$visible-phone}-inline {
  @media (max-width: $screen-xs-max) {
    display: inline !important;
  }
}
.#{$visible-phone}-inline-block {
  @media (max-width: $screen-xs-max) {
    display: inline-block !important;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include responsive-visibility('.#{$visible-tablet}');
}
.#{$visible-tablet}-block {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: block !important;
  }
}
.#{$visible-tablet}-inline {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: inline !important;
  }
}
.#{$visible-tablet}-inline-block {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: inline-block !important;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include responsive-visibility('.#{$visible-desktop}');
}
.#{$visible-desktop}-block {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: block !important;
  }
}
.#{$visible-desktop}-inline {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: inline !important;
  }
}
.#{$visible-desktop}-inline-block {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: inline-block !important;
  }
}

@media (min-width: $screen-lg-min) {
  @include responsive-visibility('.#{$visible-max}');
}
.#{$visible-max}-block {
  @media (min-width: $screen-lg-min) {
    display: block !important;
  }
}
.#{$visible-max}-inline {
  @media (min-width: $screen-lg-min) {
    display: inline !important;
  }
}
.#{$visible-max}-inline-block {
  @media (min-width: $screen-lg-min) {
    display: inline-block !important;
  }
}

@media (max-width: $screen-xs-max) {
  @include responsive-invisibility('.#{$hidden-phone}');
}

@media (min-width: $screen-sm-min + 1px) and (max-width: $screen-sm-max) {
  @include responsive-invisibility('.#{$hidden-tablet}');
}

@media (min-width: $screen-md-min + 1px) and (max-width: $screen-md-max) {
  @include responsive-invisibility('.#{$hidden-desktop}');
}

@media (min-width: $screen-lg-min + 1px) {
  @include responsive-invisibility('.#{$hidden-max}');
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: $layout-max-width + $layout-offset*2;
  padding-left: $layout-offset;
  padding-right: $layout-offset;
}

.row {
  @include make-row;
}

.show-large,
.show-inline-block-large,
.show-inline-large {
  display: none !important;
}
.show-large {
  @include respond-to($respond-large) {
    display: block !important;
  }
}
.show-inline-large {
  @include respond-to($respond-large) {
    display: inline !important;
  }
}
.show-inline-block-large {
  @include respond-to($respond-large) {
    display: inline-block !important;
  }
}

.hide-large {
  @include respond-to($respond-large) {
    display: none !important;
  }
}
