// переменные Размеры
// *************************************************************************
$layout-min-width: $device-desktop; // минимальная ширина сайта
$layout-max-width: $device-large; // максимальная ширина сайта

$layout-offset: $grid-gutter-width; // горизонтальный отступ от краёв экрана