// переменные Цвета
// *************************************************************************
$blue: blue;
$green: greeb;
$orange: orange;
$red: red;
$pink: pink;
$cyan: cyan;
$purple: purple;
$yellow: yellow;
$gray: gray;

$brand-primary: $purple;
$brand-secondary: $green;

// --------------------------------------------------
$body-bg: white !default;
$text-color: black !default;

$link-color: $brand-primary !default;
$link-hover-color: $brand-secondary !default;

// --------------------------------------------------
$input-border: $cyan !default;
$input-bg: transparent !default;
$input-bg-disabled: $gray !default;
$input-color: black !default;
$input-border-focus: $blue !default;
$input-color-placeholder: $red !default;
