


 

<div class="main-customer-day">
	<div class="container">
		<h2 class="page-title">клиентский день</h2>
		
			<div class="customer-item">
	<div class="item">
		<div class="day-img">
			<img src="../images/samples/pic-02.png" alt="">
		</div>
	</div>
	<div class="item">
		<div class="day-text">
			<b>Code de Vie Астана приглашает Вас на клиентский день Guerlain</b>
			<p>На котором Вы сможете приобрести продукцию французского бренда со скидкой -15%!</p>
		</div>
	</div>
	<div class="item">
		<div class="day-data">
			<strong><span>23</span>июнь</strong>
			<h3>астана</h3>
			<b>ТРЦ Keruen City</b>
		</div>
	</div>
</div>
		
        <a href="#" class="link-more">Перейти в раздел</a>
	</div>
    <div class="points-container">
        
            <div class="point" style="right:265px;left:initial;top:-170px;bottom:initial;">
	<img src="../images/main-sale-icons/i-1.svg" alt="">
</div>
        
            <div class="point" style="right:-65px;left:initial;top:130px;bottom:initial;">
	<img src="../images/main-sale-icons/i-2.svg" alt="">
</div>
        
            <div class="point" style="right:-225px;left:initial;top:380px;bottom:initial;">
	<img src="../images/main-sale-icons/i-3.svg" alt="">
</div>
        
            <div class="point" style="right:155px;left:initial;top:initial;bottom:60px;">
	<img src="../images/main-sale-icons/i-4.svg" alt="">
</div>
        
            <div class="point" style="right:525px;left:initial;top:initial;bottom:-45px;">
	<img src="../images/main-sale-icons/i-5.svg" alt="">
</div>
        
            <div class="point" style="right:initial;left:430px;top:initial;bottom:45px;">
	<img src="../images/main-sale-icons/i-6.svg" alt="">
</div>
        
            <div class="point" style="right:initial;left:15px;top:initial;bottom:25px;">
	<img src="../images/main-sale-icons/i-7.svg" alt="">
</div>
        
            <div class="point" style="right:initial;left:35px;top:285px;bottom:initial;">
	<img src="../images/main-sale-icons/i-8.svg" alt="">
</div>
        
            <div class="point" style="right:initial;left:310px;top:145px;bottom:initial;">
	<img src="../images/main-sale-icons/i-9.svg" alt="">
</div>
        
    </div>
</div>