<div class="about-widgets">
	<div class="container">
		<a href="#">
			<div class="widget">
				<div class="widget-img">
					<img src="../images/about-widget-icon-01.svg" alt="">
				</div>
				<div class="widget-text">
					<b>Расположение</b>
					<p>
						Лучшее расположение
						в самых больших 
						и развитых городах страны
					</p>
				</div>
			</div>
		</a>
		<a href="#">
			<div class="widget">
				<div class="widget-img">
					<img src="../images/about-widget-icon-02.svg" alt="">
				</div>
				<div class="widget-text">
					<b>Исключительный ассортимент</b>
					<p>
						Лучшее расположение
						в самых больших 
						и развитых городах страны
					</p>
				</div>
			</div>
		</a>
		<a href="#">
			<div class="widget">
				<div class="widget-img">
					<img src="../images/about-widget-icon-03.svg" alt="">
				</div>
				<div class="widget-text">
					<b>Интерьер CODE de VIE</b>
					<p>
						Лучшее расположение
						в самых больших 
						и развитых городах страны
					</p>
				</div>
			</div>
		</a>
		<a href="#">
			<div class="widget">
				<div class="widget-img">
					<img src="../images/about-widget-icon-04.svg" alt="">
				</div>
				<div class="widget-text">
					<b>Программа лояльности Stars Club</b>
					<p>
						Лучшее расположение
						в самых больших 
						и развитых городах страны
					</p>
				</div>
			</div>
		</a>
	</div>
</div>