.main-customer-day {
	padding: 55px 90px 90px 90px;
	position: relative;
	.container {
		position: relative;
		z-index: 2;
	}
	.link-more {
		@extend .font-bold;
		position: absolute;
		right: 50px;
		bottom: -50px;
		color: #f00024;
		font-size: 16px;
		transition: all .2s;
		line-height: 1;
		&::after {
			content: '';
			position: absolute;
			right: -40px;
			width: 32px;
			height: 16px;
			background:url(../images/link-arrow-right-icon.svg) center center no-repeat;
			background-size: 90%;
			transition: all .2s;
		}
		&:hover {
			color:darken(#f00024,5%);
			&::after {
				transform: translate(5px,0);
			}
		}
	}
	@media (max-width: 740px) {
		padding: 30px 15px;
		.points-container {
			display: none;
		}
		.link-more { 
			position: relative;
			top: auto;
			right: auto;
			bottom: -15px;
			display: inline-block;
			width: auto;
			left: 50%;
			margin-left: -80px;
			&::after {
			}
		}
	}
	@media (min-width:740px) and (max-width: 1024px) {
		padding: 30px 15px;
		padding-bottom: 55px;
		.points-container {
			display: none;
		}
		.link-more { 
			right: 60px;
			display: inline-block;
			bottom: -35px;
			&::after {
			}
		}
		.customer-item {
			margin-top: 38px;
		}
	}
}	