{% 
    set items = [
      {
        img: '../images/samples/pic-02.png',
        title: 'Code de Vie Астана приглашает Вас на клиентский день Guerlain',
        text: 	'На котором Вы сможете приобрести продукцию французского бренда со скидкой -15%!',
        day: '23',
        month: 'июнь',
        city: 'астана'
      }
    ]
 %}


 {% 
    set points = [
        {
            right: '265px',
            top: '-170px',
            left: 'initial',
            bottom: 'initial',
            img: '../images/main-sale-icons/i-1.svg'
        },
        {
            right: '-65px',
            top: '130px',
            left: 'initial',
            bottom: 'initial',
            img: '../images/main-sale-icons/i-2.svg'
        },
        {
            right: '-225px',
            top: '380px',
            left: 'initial',
            bottom: 'initial',
            img: '../images/main-sale-icons/i-3.svg'
        },
        {
            right: '155px',
            top: 'initial',
            left: 'initial',
            bottom: '60px',
            img: '../images/main-sale-icons/i-4.svg'
        },
        {
            right: '525px',
            top: 'initial',
            left: 'initial',
            bottom: '-45px',
            img: '../images/main-sale-icons/i-5.svg'
        },
        {
            right: 'initial',
            top: 'initial',
            left: '430px',
            bottom: '45px',
            img: '../images/main-sale-icons/i-6.svg'
        },
        {
            right: 'initial',
            top: 'initial',
            left: '15px',
            bottom: '25px',
            img: '../images/main-sale-icons/i-7.svg'
        },
        {
            right: 'initial',
            top: '285px',
            left: '35px',
            bottom: 'initial',
            img: '../images/main-sale-icons/i-8.svg'
        },
        {
            right: 'initial',
            top: '145px',
            left: '310px',
            bottom: 'initial',
            img: '../images/main-sale-icons/i-9.svg'
        }
    ]
%}

<div class="main-customer-day">
	<div class="container">
		<h2 class="page-title">клиентский день</h2>
		{% for item in items %}
			{% include "customer-item/_customer-item.html" %}
		{% endfor %}
        <a href="#" class="link-more">Перейти в раздел</a>
	</div>
    <div class="points-container">
        {% for item in points %}
            {% include "points/_points.html" %}
        {% endfor %}
    </div>
</div>