.treeview.sortable li{ cursor:pointer; clear:both; word-wrap:normal; white-space:nowrap; float:left; }
.treeview.sortable:after , .treeview.sortable ul:after{ content:' '; display:block; float:none; clear:both; }
.treeview.sortable .ui-selected>span{ background-color:#08c; }
.list-placeholder{ height:1px; width:52px; background-color:#2d6987 !important; border:none !important; }