// подвал сайта
$footer-height: 90px; // высота подвала
// ================================================================

.footer {
	height: $footer-height;
	line-height: $footer-height;
	background-color: #000000;
	font-size: 0;
	.col {
		display: inline-block;
		vertical-align: middle;
		width: (100%/3);
		p {
			color: #ffffff;
			font-size: 14px;
			line-height: 1;
			margin-bottom: 0;
			@extend .font-regular;
			a {
				display: inline-block;
				position: relative;
				color: #fff;
				line-height: 1;
				transition: all .2s;
				margin-left: 6px;
				&::after {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					bottom: -2px;
					height: 1px;
					background-color: #f00024;
					opacity: 0.5; 
				}
				&:hover {
					color: #f00024;
					&::after {
						background-color: transparent;
					}
				}
			}
		}
		&:nth-child(1) {
			text-align: left;
		}
		&:nth-child(2) {
			text-align: center;
		}
		&:nth-child(3) {
			text-align: right;
		}
	}
	.social {
		p {
			display: inline-block;
			vertical-align: middle;
		}
		.social-links {
			display: inline-block;
			vertical-align: middle;
			margin-left: 15px;
			a {
				background-color: #f00024;
				display: inline-block;
				vertical-align: middle;
				line-height: 1;
				margin: 0 5px;
				width: 40px;
				height: 40px;
				line-height: 40px;
				border-radius: 100%;
				transition: all .2s;
				text-align: center;
				&:hover {
					background-color: #fff;
					&:first-child {
						background-image: url(../images/fb_white.svg);
					}
					&:nth-child(2) {
						background-image: url(../images/ins_white.svg);
					}
				}
				&:first-child {
					background-image: url(../images/fb_red.svg);
				}
				&:nth-child(2) {
					background-image: url(../images/ins_red.svg);
				}
			}
		}
	}
}	


.footer {
	[data-template="contacts"] & ,
	[data-template="club"] & ,
	[data-template="customer_day"] & {
		background-color: #ec2028;
		.social-links {
			a {
				background-color: #000;
				&:hover {
					background-color:#fff;
				}
			}
		}
		.col {
			p {
				a {
					&:hover {
						color: #000;
					}
				}
			}
		}
	}
}

.wrapper-in { // wrapper
  min-height: calc(100vh - #{$footer-height});
  @media (max-width: 740px) {
  	min-height: calc(100vh - 140px);
  }
}


@media (max-width:740px) {
	.social-links {
		height: auto !important;
 		display: block;
		padding:0 15px;
		text-align: center;
		.social-links-title {
			margin-right: 0 !important;
			display: block !important;
		}
	}
}
@media (max-width: 1024px) {
	.footer {
		width: 100%;
		height: 140px;
		line-height: 1;
		padding-top: 20px;
		.col {
			width: 100%;
			text-align: center !important;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}