<!-- блок с адресом и картой -->
<div class="contact-item">
	<!-- текст адресса -->
	<div class="adres">
		<p>
			
		</p>
	</div>
	<!-- end -->
	<!-- картинка магазина -->
	<div class="place-img">
		<img src="" alt="">
	</div>
	<!-- end -->
	<!-- карта -->
	<div class="map-container">
		<div class="map jsMap" 
			data-latitude="" 
			data-longitude="" 
			data-marker="">
		</div>
	</div>
	<!-- end -->
</div>
<!-- end -->