body{ position:relative; min-height:550px; background:url(../images/bg.png); padding-top:72px;  }
#supremeLogo{
	display:block; position:absolute;
	left:14px; bottom:8px;  width:190px; height:58px;
	background:transparent url(../images/supremeLogo.png) center center no-repeat;
}
#auth_form{
	max-width: 300px; min-width:280px !important;
	padding: 19px 29px 29px;
	margin: 0 auto 6px;
	background:transparent url(../images/whiteOpacity.png) repeat;
	border: 1px solid #E5E5E5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
}
#serve{
	display:block; width:340px; margin:0 auto;
}
#serve > div{ margin-top:12px; text-align:center; }
#serve a{
	display:inline; background:#fff; padding:5px 8px;
	text-shadow:1px 1px #e0eef4;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
	opacity:0.6; outline:none;
}
#auth_form #prompt{ line-height:29px; margin-top:14px; }
#auth_form input[type="text"], #auth_form input[type="password"] {
	font-size: 16px;
	height: auto;
	top: 15px;
	padding: 7px 9px;
	color:#222;
	
	margin:22px 0 0 0;
}
#submit{ margin-top:22px; }

::-webkit-input-placeholder { color:#999 !important; }
input:-moz-placeholder { color:#999 !important; }
::-moz-placeholder { color:#999 !important; }


.errorMessage{ margin-top:4px; color:#b94a48; }

[disabled="disabled"]{ background:#666 !important; opacity:0.1 !important; }