#userInterface{ padding-top:60px; }

.registrationForm h2{ margin-bottom:18px; }
.registrationForm form{ border-top:2px #efefef solid; padding-top:22px; }

.help-inline.error{ display:block !important; font-size:12px; padding:0; margin:2px 0 14px 0; }




body{ position:relative; min-height:550px; background:url(../images/bg.png); padding-top:72px; }
#supremeLogo{
	display:block; position:absolute;
	left:14px; bottom:8px;  width:190px; height:58px;
	background:transparent url(../images/supremeLogo.png) center center no-repeat;
}
#recovery_form{
	max-width: 300px; min-width:280px !important;
	padding: 19px 29px 29px;
	margin: 0 auto 6px;
	background:transparent url(../images/whiteOpacity.png) repeat;
	border: 1px solid #E5E5E5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
}

#recovery_form #prompt{ line-height:29px; margin-top:14px; }
#recovery_form .instruction{ color:#666; }
#recovery_form input[type="text"], #recovery_form input[type="password"] {
	font-size: 16px;
	height: auto;
	top: 15px;
	padding: 7px 9px;
	color:#222;
	
	margin:22px 0 0 0;
}
#submit{ margin-top:22px; }

::-webkit-input-placeholder { color:#999 !important; }
input:-moz-placeholder { color:#999 !important; }
::-moz-placeholder { color:#999 !important; }


.errorMessage{ margin-top:4px; color:#b94a48; }

#sended_message
{
	max-width: 450px; min-width:280px !important;
	padding: 19px 29px 29px;
	margin: 0 auto 6px;
	border: 1px solid #E5E5E5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .20);

	background:transparent url(../images/whiteOpacity.png) repeat;
}

#password_change_form{
	max-width: 300px; min-width:280px !important;
	padding: 19px 29px 29px;
	margin: 0 auto 6px;
	background:transparent url(../images/whiteOpacity.png) repeat;
	border: 1px solid #E5E5E5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
}

#password_change_form input[type="text"], #password_change_form input[type="password"] {
	font-size: 16px;
	height: auto;
	top: 15px;
	padding: 7px 9px;
	color:#222;
	
	margin:22px 0 0 0;
}
#password_change_form #prompt{ line-height:29px; margin-top:14px; }

#success_message
{
	max-width: 450px; min-width:280px !important;
	padding: 19px 29px 29px;
	margin: 0 auto 6px;
	border: 1px solid #E5E5E5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .20);

	background:transparent url(../images/whiteOpacity.png) repeat;
}