<div class="customer-item">
	<div class="item">
		<div class="day-img">
			<img src="{{item.img}}" alt="">
		</div>
	</div>
	<div class="item">
		<div class="day-text">
			<b>{{item.title}}</b>
			<p>{{item.text}}</p>
		</div>
	</div>
	<div class="item">
		<div class="day-data">
			<strong><span>{{item.day}}</span>{{item.month}}</strong>
			<h3>{{item.city}}</h3>
			<b>ТРЦ Keruen City</b>
		</div>
	</div>
</div>