.customer-item {
	background-color: #fcf9f5;
	padding: 20px 0;
	margin-top: 60px;
	[data-template="customer_day"] & {
		transition: all .3s;
		.day-text {
			a {
				display: none;
			}
		}
		&:hover {
		    box-shadow: 0 0 25px rgba(96, 0, 14, 0.5);
		    transform: translate(0,-4px);
		}
	}
	.item {
		display: inline-block;
		vertical-align: top;
		&:nth-child(1) {
			margin-left: 40px;
		}
		&:nth-child(2) {
			width:100%;
			max-width: 550px;
			margin-left: 50px;
		}
		&:nth-child(3) {
			float: right;
			margin-right: 70px;
		}
	}
	.day-img {
		display: inline-block;
		width: 300px;
		height: 300px;
		line-height: 300px;
		border-radius: 100%;
		overflow: hidden;
		text-align: center;
		img {
			display: inline-block;
			width: 100%;
			height: 100%;
			vertical-align: middle;
		}
	}
	.day-text {
		margin-top: 30px;
		b {
			@extend .font-bold;
			color: #000000;
			font-size: 24px;
			line-height: 28px;
			display: block;
			padding-right: 160px;
			margin-bottom: 40px;
		}
		p {
			@extend .font-regular;
			color: #000000;
			font-size: 16px;
			line-height: 20px;
			display: block;
			padding-right: 150px;
			margin: 0 0 60px 0;
		}
	}
	.day-data {
		strong {
			@extend .font-bold;
			color: #f00024;
			font-size: 22px;
			text-transform: uppercase;
			width: 110px;
			display: inline-block;
			margin-bottom: 80px;
			span {
				font-size: 90px;
				line-height: 1;
				display: block;
			}
		}
		h3 {
			@extend .font-bold;
			color: #f00024;
			font-size: 28px;
			text-transform: uppercase;
			margin-bottom: 14px;
		}
		b {
			@extend .font-bold;
			color: #000;
			font-size: 18px;
		}
	}
}

@media (max-width: 740px) {
	.customer-item {
		text-align:center;
		padding: 30px 15px;
		margin-top: 15px;
		.item {	
			&:nth-child(1) {
				margin-left: 0;
			}
			&:nth-child(2) {
				margin-left: 0;
			}
			&:nth-child(3) {
				float: none;
				margin-right: 0;
			}
		}
		.day-img {
			width: 250px;
			height: 250px;
			line-height: 250px;
			img {
				// width: 220px;
			}
		}
		.day-text {
			b {
				width: 100%;
				padding:0;
				margin-bottom: 10px;
				font-size: 18px;
				line-height: 20px;
			}
			p {
				width: 100%;
				padding:0;
				font-size: 14px;
				margin-bottom: 10px;
			}
			a {
				font-size: 14px;
				&::after {
					display: none;
				}
			}
		}
		.day-data {
			margin-top: 10px;
			strong {
				font-size: 18px;
				width: 100%;
				margin-bottom: 20px;
				span {
					font-size: 45px;
					line-height: 1;
					display: block;
				}
			}
			h3 {
				color: #f00024;
				font-size: 18px;
				text-transform: uppercase;
			}
			b {
				font-size: 16px;
			}
		}
		[data-template="customer_day"] & {
		}
	}
}

@media (max-width: 740px) and (orientation:landscape) { 
	.customer-item .item {
		max-width: 100% !important;
	}
}

@media (min-width:740px) and (max-width: 1024px) {
	.customer-item {
		text-align:center;
		padding: 30px 15px;
		min-height: 260px;
		.item {	
			display: inline-block;
			vertical-align: middle;
			&:nth-child(1) {
				width: 250px;
				margin-left: 0;
				float: left;
			}
			&:nth-child(2) {
				width: 40%;
				margin-left: 0;
			}
			&:nth-child(3) {
				margin-right: 20px;
			}
		}
		.day-img {
			width: 200px;
			height: 200px;
			line-height: 200px;
			img {
				// width: 170px;
			}
		}
		.day-text {
			b {
				width: 100%;
				padding:0;
				margin-bottom: 10px;
				font-size: 18px;
				line-height: 20px;
			}
			p {
				width: 100%;
				padding:0;
				font-size: 14px;
				margin-bottom: 10px;
			}
			a {
				font-size: 14px;
				&::after {
					display: none;
				}
			}
		}
		.day-data {
			margin-top: 10px;
			strong {
				font-size: 18px;
				width: 100%;
				margin-bottom: 80px;
				span {
					font-size: 45px;
					line-height: 1;
					display: block;
				}
			}
			h3 {
				color: #f00024;
				font-size: 18px;
				text-transform: uppercase;
			}
			b {
				font-size: 16px;
			}
		}
	}
}