$Blockwidth: 310px;
$Blockheight: 310px;

.sale-item {
	width: 100%;
	height: $Blockheight;
	border: 2px solid #ec2028;
	display: block;
	background-color: #faf5ed;
	overflow: hidden;
	position: relative;
	margin-bottom: 60px;
	transition: all .3s;
	border-radius: 6px;
	&:hover {
	    box-shadow: 0 0 25px rgba(96, 0, 14, 0.5);
	    transform: translate(0,-4px);
	}
	.column-container {
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 310px);
		height: 100%;
	}
	.col-left {
		float: left;
		width: 60%;
		height: 100%;
	}
	.col-right {
		float: right;
		width: 32%;
		height: 100%;
		line-height: 310px;
	}
	.sale-img {
		display: inline-block;
		width: $Blockwidth;
		height: $Blockheight;
		background-color: #000;
		vertical-align: top;
		img {
			width: 100%;
			height: 100%;
			display: inline-block;
		}
	}
	.sale-text {
		display: inline-block;
		width: 100%;
		padding: 20px 50px 0 50px;

		b {
			@extend .font-bold;
			color: #000;
			font-size: 24px;
			line-height: 30px;
			display: block;
			margin-bottom: 30px;
		}
		p {
			@extend .font-regular;
			color: #000000;
			font-size: 14px;
			line-height: 20px;
			display: block;
			margin: 0 0 20px 0;
		}
		.link-more {
			@extend .font-regular;
			color: #ffffff;
			font-size: 16px;
			transition: all .2s;
			border-radius: 6px;
			background-color: #f00024;
			padding: 12px 20px;
			display: inline-block;
			z-index: 10;
			position: relative;
			&:hover {
				background-color: #fff;
				color: #f00024;
				box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3);
			}
		}
	}
	.sale-number {
		background-color: #ec2028;
		height: 210px;
		width: 210px;
		border-radius: 100%;
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		strong {
			@extend .font-bold;
			color: #fff;
			font-size: 36px;
			display: block;
			line-height: 1;
			margin-top: 70px;
			margin-bottom: 25px;
		}
		.date {
			@extend .font-bold;
			color: #000;
			font-size: 18px;
			display: block;
			line-height: 1;
		}
	}
}


@media (max-width: 740px) {
	.page-sale {
		text-align: center;
		.sale-items {
			text-align: center;
		}
	}
	.sale-item {
		width: 300px;
		display: inline-block;
		height: auto;
		.sale-img {
			width: 100%;
			height: 300px;
			overflow: hidden;
			img {
				display: inline-block;
				width: 100%;
				height: auto;
			}
		}
		.column-container {
			display: inline-block;
			width: 100%;
			height: auto;
		}
		.col-left {
			float: none;
			width: 100%;
			height: auto;
		}
		.col-right {
			float: none;
			width: 100%;
			height: 180px;
			line-height: 180px;
		}
		.sale-text {
			display: inline-block;
			width: 100%;
			padding: 15px;
			b {
				font-size: 24px;
				line-height: 26px;
				margin-bottom: 15px;
			}
			p {
				color: #000000;
				font-size: 14px;
				line-height: 20px;
			}
		}
		.sale-number {
			background-image: none;
			background-color: #f00024;
			display: inline-block;
			width: 160px;
			height: 160px;
			padding: 20px 0;
			strong {
				font-size: 24px;
				display: block;
				margin-top: 30px;
				margin-left: 0;
				margin-bottom: 20px;
			}
			.date {
				font-size: 16px;
				display: block;
				margin-left: 0;
			}
		}
	}
}

@media (max-width: 740px) and (orientation:landscape) {
	.sale-items {
		text-align: left !important; 
	}
	.sale-item {
		width: 48%;
		display: inline-block;
		vertical-align: top;
		margin-right: 20px;
		padding-bottom: 15px;
		text-align: center;
		&:nth-child(2n) {
			margin-right: 0;
		}
		.col-left {
			min-height: 220px;
		}
	}
}
@media (max-width: 569px) and (orientation:landscape) {
	.sale-img {
		height: 258px !important;
	}
	.sale-item {
		.col-left {
			min-height: 345px !important;
		}
	}
}
@media (min-width: 570px) and (max-width: 667px) and (orientation:landscape) {
	.sale-img {
		height: 305px !important;
	}
	.sale-item {
		.col-left {
			min-height: 265px !important;
		}
	}
}
@media (min-width: 668px) and (max-width: 740px) and (orientation:landscape) {
	.sale-img {
		height: 338px !important;
	}
	.sale-item {
		.col-left {
			min-height: 220px !important;
		}
	}
}

@media (min-width:740px) and (max-width: 1024px) {
	.sale-item {
		height: 250px;
		.sale-img {
			width: 250px;
			height: 250px;
			img {
				display: inline-block;
				width: 100%;
				height: 100%;
			}
		}
		.column-container {
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 250px);
			height: 100%;
		}
		.col-left {
			float: left;
			width: 70%;
			height: 100%;
		}
		.col-right {
			float: right;
			width: 26%;
			height: 100%;
			line-height: 250px;
		}
		.sale-text {
			display: inline-block;
			width: 100%;
			padding: 10px 10px 0 20px;

			b {
				font-size: 24px;
				line-height: 26px;
				display: block;
				margin-bottom: 15px;
			}
			p {
				color: #000000;
				font-size: 14px;
				line-height: 20px;
				display: block;
				margin: 0;
			}
		}
		.sale-number {
			height: 120px;
			display: inline-block;
			width: 120px;
			strong {
				color: #fff;
				font-size: 20px;
				display: block;
				margin-top: 30px;
				margin-left: 0;
				margin-bottom: 15px;
				white-space: nowrap;
			}
			.date {
				color: #000;
				font-size: 14px;
				display: block;
				margin-left: 5px;
			}
		}
	}
}