<div class="instagramm-widget">
	<div class="container">
		<div class="insta-top">
			<h2 class="page-title">Code de Vie В INSTAGRAM</h2>
			<a href="#" class="link-more">ВСЯ ЛЕНТА</a>
		</div>
	</div>
	<div class="insta-carousel">
		<div class="container">
			<div class="swiper-container">
				<div class="swiper-wrapper" id="instafeed" data-accessToken="4037558200.1677ed0.8b1fe8d84d5b46d9b5b3a58262d7a01e"></div>
			</div>
		</div>
		<div class="insta-controls">
			<div class="insta-btn btn-prev"><span class="arrow"></span></div>
			<div class="insta-btn btn-next"><span class="arrow"></span></div>	
		</div>
	</div>
</div>