.instagramm-widget {
	padding-top: 90px;
	padding-bottom: 120px;
	background:#fff;
	position: relative;
	z-index: 1;
	.container {
		position: relative;
	}
	.insta-top {
		margin-bottom: 60px;
	}
	.swiper-slide {
		width: 180px !important;
		height: 180px;
		display: inline-block;
		border: 1px solid #ec2028;
		a {
			display: inline-block;
			img {
				width: 100%;
				height: 100%;
				display: block;
			}
		}
	}
	.link-more {
		@extend .font-bold;
		color: #000000;
		font-size: 18px;
		text-transform: uppercase;
		transition: all .2s;
		border-bottom: 1px solid #ec2028;
		padding-bottom: 5px;
		position: absolute;
		top: 5px;
		right: 0;
		&:hover {
			border-color: transparent;
			color: #ec2028;
		}
	}
	.insta-carousel {
		position: relative;
	}
	.insta-controls {
		width: 100%;
		left: 0;
		right: 0;
		position: absolute;
		top: 50%;
		height: 50px;
		margin-top: -25px;
		z-index: 0;
		.insta-btn {
			width: 50px;
			height: 50px;
			background-color: #ec2028;
			background-image: url(../images/arrow-left.svg);
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			left: 25px;
			border-radius: 100%;
			cursor: pointer;
			transition: all .2s;
			&.btn-next {
				right: 25px;
				left: auto;
				background-image: url(../images/arrow-right.svg);
			}
			&:hover {
				background-color: #000;
			}
		}
	}
}


@media (max-width: 740px) {
	.instagramm-widget {
		padding: 30px 0;
		.page-title {
			white-space: normal;
			line-height: 1.3;
		}
		.link-more {
			position: static !important;
			display: inline-block;
			margin-top: 30px;
		}
		.insta-top {
			margin-bottom: 35px !important;
			text-align: center;
		}
		.insta-controls {
			z-index: 10;
			.insta-btn {
				left: 5px;
				width: 40px;
				height: 40px;
				background-size: 60%;
				background-color: #000;
				&:hover {
					background-color: #000;
				}
				&.btn-next {
					right: 5px;
				}
			}
		}
	}
}

@media (min-width:740px) and (max-width: 1024px) {
	.instagramm-widget {
		padding: 30px 0;
		.page-title {
			margin-left: 15px;
		}
		.link-more {
			margin-right: 15px;
		}
		.insta-controls {
			z-index: 10;
			.insta-btn {
				left: 5px;
				width: 40px;
				height: 40px;
				background-size: 60%;
				background-color: #000;
				&:hover {
					background-color: #000;
				}
				&.btn-next {
					right: 5px;
				}
			}
		}
	}
}