.main-promo {
	height: 700px;
	background-color: #000;
	position: relative;
	z-index: 1;

	.swiper-slide {
		height: 100%;
		width: 100% !important;
		display: block;
		&.slide-black-them {
			background-image: url(../images/main-promo/main-black-bg.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			&::after {
				content:'';
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				background-image: url(../images/main-promo/back_black.png);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: 0 0;
			}
		}
		&.slide-white-them {
			background-color: #fcfaf7;
			&::after {
				content:'';
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				background-image: url(../images/main-promo/back_red.png);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: 0 0;
			}
			.slide-text {
				b {
					color: #000;
				}
				p {
					color: #000;
				}
			}
		}
		&.slide-classic-them {
			background-color: #fff;
			.container {
				width: 100%;
			}
			.slide-items-title {
				display: block;
				width: 100%;
				text-align: center;
				position: absolute;
				z-index: 1;
				top: 65px;
				b {
					@extend .font-regular;
					color: #000000;
					font-size: 48px;
					font-weight: 700;
					line-height: 60px;
					letter-spacing: 0.96px;
				}
			}
			.slide-img {
				height: 100%;
				display: block;
				position: relative;
				img {
					position: absolute;
					bottom:0;
				}
			}
		}
		.container {
			position: relative;
			height: 100%;
			width: 850px;
			@media (max-width: 1024px) {
				width: 100%;
			}
		}
	}


	.col-left {
		float: left;
		width: 50%;
		overflow: hidden;
	}
	.col-right {
		float: right;
		width: 50%;
	}
	.slide-img {
		img {
			display: inline-block;
			width: 100%;
		}
	}
	.slide-text {
		display: inline-block;
		padding-left: 130px;
		b {
			@extend .font-bold;
			color: #ffffff;
			font-size: 48px;
			line-height: 60px;
			margin-bottom: 45px;
			display: block;
			z-index: 10;
			position: relative;
		}
		p {
			@extend .font-regular;
			color: #ffffff;
			font-size: 18px;
			line-height: 20px;
			display: block;
			margin-bottom: 45px;
			z-index: 10;
			position: relative;
		}
		.link-more {
			@extend .font-regular;
			color: #ffffff;
			font-size: 16px;
			transition: all .2s;
			border-radius: 6px;
			background-color: #f00024;
			padding: 14px 20px;
			display: inline-block;
			z-index: 10;
			position: relative;
			&:hover {
				background-color: #fff;
				color: #f00024;
				box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3);
			}
		}
	}
	.column-container {
		height: 425px;
		position: absolute;
		top: 50%;
		margin-top: -212.5px;
		width: 100%;
	}


	.swiper-container {
		height: 100%;
		width: 100%;
	}
	.swiper-wrapper {
		height: 100%;
	}
	.main-promo-controls {
		width: 100%;
		left: 0;
		right: 0;
		position: absolute;
		top: 50%;
		height: 50px;
		margin-top: -25px;
		z-index: 10;
		.main-promo-btn {
			width: 50px;
			height: 50px;
			background-color: #ec2028;
			background-image: url(../images/arrow-left.svg);
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			left: 25px;
			border-radius: 100%;
			cursor: pointer;
			transition: all .2s;
			&.btn-next {
				right: 25px;
				left: auto;
				background-image: url(../images/arrow-right.svg);
				&:hover {
					background-color: #fcfaf7;
					background-image: url(../images/arrow_right-red.svg);
					box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
				}
			}
			&:hover {
				background-color: #fcfaf7;
				background-image: url(../images/arrow_left-red.svg);
				box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
			}
		}
	}
}


@media (max-width: 740px) {
	.main-promo {
		height: 540px;
		width: 100%;
		.col-left {
			width: 100%;
			float: none;
			text-align: center;
			position: relative;
			padding-top: 30px;
			margin-bottom: 20px;
			.slide-img {
				width: 250px;
				height: 250px;
				text-align: center;
				position: relative;
				left: 50%;
				margin-left: -125px;
				img {
					display: inline-block;
					width: 100%;
					height: 100%;
				}
			}
		}
		.col-right {
			float: none;
			width: 100%;
			position: relative;
			.slide-text {
				width: 100%;
				padding-left: 0;
				text-align: center;
				bottom: 0;
				b {
					font-size: 28px;
					line-height: 30px;
					margin-bottom: 10px;
				}
				p{
					width: 100%;
					padding:0 40px;
					margin-bottom: 10px;
				}
			}

		}
		.swiper-container {
			position: absolute;
			top: 0;
		}
		.column-container {
			height: 100%;
			position: absolute;
			top: 0;
			width: 100%;
			margin-top: 0;
		}
		.main-promo-controls {
			.main-promo-btn {
				left: 10px;
				width: 40px;
				height: 40px;
				background-size: 60%;
				&.btn-next {
					right: 10px;
				}
			}
		}
	}
}



@media (min-width: 741px) and (max-width: 1024px) {
	.main-promo {
		height: 600px;
		width: 100%;
		.col-left {
			width: 100%;
			float: none;
			text-align: center;
			position: relative;
			padding-top: 40px;
			margin-bottom: 20px;
			.slide-img {
				width: 300px;
				height: 300px;
				text-align: center;
				position: relative;
				left: 50%;
				margin-left: -150px;
				img {
					display: inline-block;
					width: 100%;
					height: 100%;
				}
			}
		}
		.col-right {
			float: none;
			width: 100%;
			position: relative;
			.slide-text {
				width: 100%;
				padding-left: 0;
				text-align: center;
				bottom: 0;
				b {
					font-size: 28px;
					line-height: 30px;
					margin-bottom: 15px;
					padding: 0 200px;
				}
				p{
					width: 100%;
					padding:0 180px;
					margin-bottom: 25px;
				}
				a {
					padding: 10px 14px;
				}
			}

		}
		.swiper-container {
			position: absolute;
			top: 0;
		}
		.column-container {
			height: 100%;
			position: absolute;
			top: 0;
			width: 100%;
			margin-top: 0;
		}
		.main-promo-controls {
			.main-promo-btn {
				left: 10px;
				&.btn-next {
					right: 10px;
				}
			}
		}
	}
}