<!-- header -->
<header class="header">
  <div class="container">
    <div class="logo">
    	<a href="/">
			<img src="../images/logo.svg">
			<small>Сеть магазинов косметики и парфюмерии</small>
		</a>
    </div>
    <!-- nav-main -->
<nav class="nav-main">
	<div class="container">
	  <ul class="list-inline">
	    <li>
	      <a href="about.html">О компании</a>
	    </li>
	    <li>
	      <a href="brands.html">Бренды</a>
	    </li>
	    <li>
	      <a href="bestsellers.html">Bestsellers</a>
	    </li>
	    <li>
	      <a href="sale.html">Акции</a>
	    </li>
	    <li>
	      <a href="customer-day.html">Клиентские дни</a>
	    </li>
	    <li>
	      <a href="club.html">Stars Club</a>
	    </li>
	    <li>
	      <a href="contacts.html">Контакты</a>
	    </li>
	  </ul>
	</div>
</nav><!-- end nav-main -->

    <div class="m-nav-btn">
    	<span></span>
    </div>
  </div>
</header><!-- end .header