.page-contacts {
	padding: 60px 0 100px 0;
	.container {
		position: relative;
		z-index: 1;
	}
	@media (max-width: 740px) {
		padding: 30px 0 0 0;
		text-align: center;
		.points-container {
			display: none;
		}
		.page-title {
			margin-left: 15px;
		}
		.contacts-tabs {
			.nav-tabs {
				padding: 0 15px;
				a {
					padding: 8px 15px;
				}
			}
			.nav-tabs-inside {
				text-align: center;
				padding: 0 15px;
				a {
					font-size: 16px !important;
				}
				li {
					margin-right: 25px;
					&:nth-child(2n) {
						margin-right: 0px;
					}
				}
			}

		}
		.tab-content-inside {
			padding-bottom: 0 !important;
		}
	}
	@media (min-width:740px) and (max-width: 1024px)  {
		padding: 30px 0 0 0;
		.points-container {
			display: none;
		}
		.page-title {
			margin-left: 15px;
		}
		.contacts-tabs {
			.nav-tabs {
				padding: 0 15px;
				
			}
			.nav-tabs-inside {
				padding: 0 15px;
			}
		}
		.tab-content-inside {
			padding-bottom: 0 !important;
		}
	}
}

