/* /js/themes/advanced/skins/default/dialog.css */
/* /css/popup.css */
/* ../js/themes/advanced/skins/default/ */
body {
    background: transparent;
    font-family: Helvetica,Tahome,Arial,Verdana,sans-serif;
    font-size: 11px;
    margin: 0;
}
html {
    background: transparent;
}
td {
    font-family: Helvetica,Tahome,Arial,Verdana,sans-serif;
    font-size: 12px;
}
textarea {
    outline: medium none;
    resize: none;
}
a:link, a:visited {
    color: black;
}
a:hover {
    color: #2B6FB6;
}
.nowrap {
    white-space: nowrap;
}
fieldset {
    border: 1px solid #CCCCCC;
    font-family: Helvetica,Tahome,Arial,Verdana,sans-serif;
    font-size: 12px;
    margin: 14px 0;
    padding: 12px;
}
legend {
    color: #2B6FB6;
    font-weight: bold;
}
label.msg {
    display: none;
}
label.invalid {
    color: #EE0000;
    display: inline;
}
input.invalid {
    border: 1px solid #EE0000;
}
input {
    border: 1px solid #E4E4E4;
}
input, select, textarea {
    font-family: Helvetica,Tahome,Arial,Verdana,sans-serif;
    font-size: 12px;
    max-height: 320px;
    max-width: 730px;
}
input, select, textarea {
    border: 1px solid #E4E4E4;
}
button, input[type="button"] {
    width: auto !important;
}
input.radio {
    background: none repeat scroll 0 0 transparent;
    border: 1px none #000000;
    vertical-align: middle;
}
input.checkbox {
    background: none repeat scroll 0 0 transparent;
    border: 1px none #000000;
    vertical-align: middle;
}
.input_noborder {
    border: 0 none;
}
a.pickcolor, a.browse {
    text-decoration: none;
}
a.browse span {
    background: url("../js/themes/advanced/skins/default/../../img/icons.gif") repeat scroll -860px 0 transparent;
    border: 1px solid #FFFFFF;
    display: block;
    height: 18px;
    margin-left: 1px;
    width: 20px;
}
.mceOldBoxModel a.browse span {
    height: 20px;
    width: 22px;
}
a.browse:hover span {
    background-color: #B2BBD0;
    border: 1px solid #0A246A;
}
a.browse span.disabled {
    border: 1px solid white;
    opacity: 0.3;
}
a.browse:hover span.disabled {
    background-color: transparent;
    border: 1px solid white;
}
a.pickcolor span {
    background: url("../js/themes/advanced/skins/default/../../img/icons.gif") repeat scroll -840px 0 transparent;
    display: block;
    height: 16px;
    margin-left: 2px;
    width: 20px;
}
.mceOldBoxModel a.pickcolor span {
    height: 17px;
    width: 21px;
}
a.pickcolor:hover span {
    background-color: #B2BBD0;
}
a.pickcolor:hover span.disabled {
}
table.charmap {
    border: 1px solid #AAAAAA;
    text-align: center;
}
td.charmap, #charmap a {
    border: 1px solid #AAAAAA;
    color: #000000;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    width: 18px;
}
#charmap a {
    border: 0 none;
    color: #000000;
    display: block;
    text-decoration: none;
}
#charmap a:hover {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #2B6FB6;
}
#charmap #codeN {
    font-family: Helvetica,Tahome,Arial,Verdana,sans-serif;
    font-size: 12px;
    text-align: center;
}
#charmap #codeV {
    border: 1px solid #AAAAAA;
    font-size: 40px;
    height: 80px;
    text-align: center;
}
.wordWrapCode {
    background: none repeat scroll 0 0 transparent;
    border: 1px none #000000;
    vertical-align: middle;
}
.mceActionPanel {
    margin-top: 18px !important;
}
.tabs {
    background: url("../js/themes/advanced/skins/default/img/tabs.gif") repeat-x scroll 0 -72px transparent;
    height: 18px;
    line-height: normal;
    overflow: hidden;
    width: 100%;
}
.tabs ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.tabs li {
    background: url("../js/themes/advanced/skins/default/img/tabs.gif") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 18px;
    line-height: 17px;
    margin: 0 2px 0 0;
    outline: medium none;
    padding: 0 0 0 10px;
}
.tabs li.current {
    background: url("../js/themes/advanced/skins/default/img/tabs.gif") no-repeat scroll 0 -18px transparent;
    margin-right: 2px;
}
.tabs span {
    background: url("../js/themes/advanced/skins/default/img/tabs.gif") no-repeat scroll right -36px transparent;
    display: block;
    float: left;
    padding: 2px 10px 0 0;
}
.tabs .current span {
    background: url("../js/themes/advanced/skins/default/img/tabs.gif") no-repeat scroll right -54px transparent;
}
.tabs a {
    font-family: Helvetica,Tahome,Arial,Verdana,sans-serif;
    font-size: 12px;
    text-decoration: none;
}
.tabs a:link, .tabs a:visited, .tabs a:hover {
    color: black;
}
.panel_wrapper div.panel {
    display: none;
}
.panel_wrapper div.current {
    display: block;
    overflow: visible;
    width: 100%;
}
.panel_wrapper {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 white;
    border-color: -moz-use-text-color;
    border-image: none;
    border-right: medium none;
    border-style: none;
    border-width: 0 medium medium;
    clear: both;
    padding-top: 12px;
}
.column {
    float: left;
}
.properties {
    width: 100%;
}
.properties .column1 {
}
.properties .column2 {
    text-align: left;
}
h1, h2, h3, h4 {
    color: #2B6FB6;
    margin: 0;
    padding: 5px 0 0;
}
h3 {
    font-size: 14px;
}
.title {
    color: #2B6FB6;
    font-size: 12px;
    font-weight: bold;
}
#link .panel_wrapper, #link div.current {
    height: 125px;
}
#image .panel_wrapper, #image div.current {
    height: 200px;
}
#plugintable thead {
    background: none repeat scroll 0 0 #DDDDDD;
    font-weight: bold;
}
#plugintable, #about #plugintable td {
    border: 1px solid #919B9C;
}
#plugintable {
    margin-top: 10px;
    width: 96%;
}
#pluginscontainer {
    height: 290px;
    overflow: auto;
}
#colorpicker #preview {
    border: 1px solid black;
    float: right;
    height: 14px;
    line-height: 1px;
    margin-left: 5px;
    width: 50px;
}
#colorpicker #colors {
    border: 1px solid gray;
    cursor: crosshair;
    float: left;
}
#colorpicker #light {
    border: 1px solid gray;
    cursor: crosshair;
    float: left;
    height: 150px;
    margin-left: 5px;
    width: 15px;
}
#colorpicker #light div {
    overflow: hidden;
}
#colorpicker #previewblock {
    float: right;
    height: 20px;
    padding-left: 10px;
}
#colorpicker .panel_wrapper div.current {
    height: 195px;
}
#colorpicker #namedcolors {
    width: 150px;
}
#colorpicker #namedcolors a {
    display: block;
    float: left;
    height: 10px;
    margin: 1px 1px 0 0;
    overflow: hidden;
    width: 10px;
}
#colorpicker #colornamecontainer {
    margin-top: 5px;
}
#colorpicker #picker_panel fieldset {
    margin: auto;
}
#insert, #cancel, input.button, .updateButton {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: whiteSmoke;
    background-image: -moz-linear-gradient(center top , white, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #E6E6E6 #E6E6E6 #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
#insert {
    background-color: #0074CC;
    background-image: -moz-linear-gradient(center top , #0088CC, #0055CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: none;
}
#cancel {
}


form,
body#charmap > [role="presentation"]
{
	overflow:auto;
	margin:0 auto; padding:24px;
	background:#fff !important;
	
	border-radius:0px 0px 12px 12px;

	-webkit-box-shadow: inset 0px 5px 5px 1px #d1d1d1;
	-moz-box-shadow: inset 0px 5px 5px 1px #d1d1d1;
	box-shadow: inset 0px 10px 5px 1px #d1d1d1;
}
form{ display:block; max-width:600px; padding-top:72px; }
body#charmap#charmap > [role="presentation"]{ width:652px; max-width:auto !important; padding-top:72px; }

#general_panel{ height:auto !important; }

#charmap_label{ display:none; }
#codeV{ background:#fff; }

.charmap{ background:#fff; }


#right{ padding-top:100px; }