/* Дизайн пнели */
.mceEditor .mceToolbar{ border:none !important; background:none !important; margin-top:6px !important; }
.mceEditor .mceIcon{ cursor:pointer !important; } 
.mceEditor .mceStatusbar
{
	padding:5px 0px 5px 0px;
	background:none !important;
	border-bottom:none !important;
}

.mceIframeContainer, .mceIframeContainer iframe{
	min-height:150px;
}
.mceEditor
{
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.mceEditor .mceLayout{ border:none !important; }
.mceEditor textarea.tinymce{ display:none; width: 100%; }

.mceEditor #mceHtmlSource
{
    border:none; padding:8px;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:Courier, Courier New, monospace;
    opacity:1; background-color:#fff;
    z-index:1001; overflow:hidden;
    white-space:pre-wrap !important;
}
.mceEditor #mceHtmlSource_back{ background:#fff; }
.clearlooks2 iframe{ width:100% !important; min-height:600px; max-height:650px; overflow:visible; }
.clearlooks2[role="dialog"]{ display:block; position:fixed; top:0px !important; left:0px !important; right:0px !important; }
.clearlooks2[role="dialog"] .mceTop
{
	display:block; position:fixed;
	left:0px; top:0px; right:0px; height:1px;
}
.clearlooks2[role="dialog"] .mceTop div{ display:none; }
.clearlooks2[role="dialog"] .mceTop span
{
	display:block; position:static !important;
	margin:0 auto; text-align:left; font-size:24px  !important;
	margin-left:26%; padding-top:18px;
}

/*
.mceEditor:not(.mceActive)
{
    opacity:0.7;
    
	background-color:none !important;
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	color: #555555;
	margin-bottom: 9px;
	padding: 4px;

    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.mceEditor:not(.mceActive) .mceLayout{ border:none !important; }
.mceEditor:not(.mceActive) .mceToolbar{ display:none; }
.mceEditor:not(.mceActive) .mceStatusbar{ display:none; }
.mceEditor:not(.mceActive) { display:block; overflow:hidden !important; position:relative; margin-bottom:12px; }
.mceEditor:not(.mceActive) .glass{ display:block; position:absolute; left:0px; right:0px; bottom:0px; height:48px; z-index:99; background:url(images/white_glass.png) bottom repeat-x; }
.mceEditor:not(.mceActive) iframe{ height:auto !important; }
.mceEditor:not(.mceActive) .mceIframeContainer{ border:none !important; }
.mceEditor:not(.mceActive) #mceHtmlSource,
.mceEditor:not(.mceActive) #mceHtmlSource_back{ display:none; }

*/

.mceEditor:not(.mceActive){ display:block; position:relative; }
.mceEditor:not(.mceActive) .glass{ display:block; position:absolute; left:0px; right:0px; bottom:1px; z-index:99; background:url(images/white_glass.png) bottom repeat-x; }


.mceEditor.mceStarted{ opacity:0; }
#mceModalBlocker{ background-color:#000; }

.mceButton.mceButtonEnabled.mce_save{ margin-right:18px; }


.mceRootContainer.activeExpandPlace,
.mceOwnContainer.activeExpandPlace{ position:relative !important; }


.mceEditor.mceActive
{
	/* position:absolute; top:0px; left:0px; right:0px; bottom:0px; */

	z-index:998;
}
.mceEditor.mceActive .mceLayout{ opacity:1 !important; }
.mceEditor.mceActive .mceIframeContainer
{
	border-top:1px solid #0e90d2 !important;
	border-bottom:1px solid #0e90d2 !important;
}
.mceEditor.mceActive .mceIframeContainer iframe:focus{ background-color:#000; }


.mceEditor.mceActive.fixedToolbar .mceToolbar [role="application"]{
	position:fixed; top:60px;
	padding-bottom:4px;
	
	z-index:9990;
}

.clearlooks2 .mceClose{ opacity:0.6 !important; color:#fff !important; text-shadow: 0 1px 0 #555 !important; }
.clearlooks2 .mceClose:hover{ opacity:1 !important; }

/*
body[aria-hidden="true"]{ position:fixed; top:0px; left:0px; right:0px; bottom:0px; }
*/

.mceOwnContainer .help-inline.error{
	position:absolute; bottom:-44px;
}


/* Служебный контейнер - пка все не загрузится, будет скрыто. */
.mceServWrapper.mceLoading
{
	display:block; min-height:128px;
	background:url(images/loading.gif) no-repeat center 72px #fff;
	opacity:0.4;

	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}
.mceServWrapper.mceLoading:before{
	content:"ЗАГРУЗКА"; display:block; font-family:Helvetica, Arial;
	font-size:32px; font-weight:bold; color:#333; text-align:center;
	margin:0 auto; padding:42px 0 0 0;
}
.mceServWrapper.mceLoading *{ display:none !important; }