.best-item {
	float: left;
	width: 280px;
	height: 430px !important;
	background-color: #faf5ed;
	transition: all .3s;
	margin-right: 16.1px;
	position: relative;
	&:nth-child(4n) {
		margin-right: 0;
	}
	@media (max-width: 740px) {
		margin-right: 0 !important;
		text-align: center;
		float: none;
		display: inline-block;
		&:nth-child(4n) {
			margin-right: 0 !important;
		}
	}
	@media (min-width:740px) and (max-width: 1024px) {
		margin-right: 15px !important;
		&:nth-child(4n) {
			margin-right: 15px !important;
		}
	}
	.best-img {
		display: inline-block;
		width: 100%;
		height: 220px;
		img {
			display: block;
			width: 100%;
		}
	}
	.best-title {
		display: inline-block;
		width: 100%;
		padding: 25px 20px;
		text-align: left;
		@extend .font-bold;
		color: #000000;
		font-size: 18px;
		line-height: 20px;
		display: block;
		min-height: 110px;
		background-color: #faf5ed;
	}
	.best-text {
		width: 100%;
		padding: 0 20px;
		height: 80px;
		overflow: hidden;
		background-color: #faf5ed;
		@extend .font-regular;
		color: #000000;
		font-size: 14px;
		line-height: 20px;
		margin: 0;
		p {
		}
	}
	.block-in {
		background-color:#faf5ed;
		// -webkit-transition-property:border-color, background-color, color, box-shadow;
        // -webkit-transition-duration: .5s;
        border-color: transparent;
        @include stretch;
        padding: 0;
		&:hover {
			@media (min-width:1300px) {
				position: absolute;
	        	border: 25px solid;
	        	border-color: #ec2028;
	        	background-color: #ec2028;
				top: -25px;
				left: -25px;
				bottom: -25px;
				right: -25px;
				z-index: 1;
				box-shadow: 0 10px 20px rgba(96, 0, 14, 0.5);
				.best-text {
					height: auto;
					width: calc(100% + 50px);
					padding: 0 45px;
					margin: 0 0 0 -25px;
					background-color: #ec2028;
					color: #fff;
				}
				.best-title {
					color: #fff;
					background-color: #ec2028;
				}
			}
		}
	}
}


@media (max-width: 740px) {
	[data-template="mainpage"] {
		.best-item {
			margin-right: 100px !important;
		}
	}
	.best-in-carousel {
		.flickity-prev-next-button {
			background-color: #000;
			width: 40px;
			height: 40px;
			left: -10px;
		    background-image: url(../images/arrow-left.svg);
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: 60%;
			svg {
				display: none;
			}
			&.next {
				left: auto;
				right: -10px;
				background-image: url(../images/arrow-right.svg);
			}
		}
		.flickity-page-dots {
			.dot {
				background:#fff;
				border: 1px solid #f00024;
				opacity: 1;
				&.is-selected {
					background:#000;
					border-color: #000;
				}
			}
		}
	}
}


@media (max-width: 740px) and (orientation:landscape) {
	[data-template="bestsellers"] {
		.best-item {
			float: none;
			display: inline-block !important;
			width: 256px;
			height: 430px !important;
			margin-right: 10px !important;
			&:nth-child(4n) {
				margin-right: 10px !important;
			}
			.best-title {
				padding-top: 0px;
				min-height: 80px;
			}
		}
	}
	
}

@media (min-width:741px) and (max-width: 1024px) {
	.best-in-carousel {

		.best-item {
			width: 240px;
			.best-img {
				height: 190px;
			}
			.best-text {
				padding-top: 15px;
			}
		}
		.flickity-prev-next-button {
			background: #000 !important;
			width: 40px;
			height: 40px;
			left: -15px;
			svg {
				width: 20px;
				height: 20px;
				left: 50%;
				margin-left: -10px;
				top: 50%;
				margin-top: -10px;
				path {
					fill: #fff;
				}
			}
			&.next {
				left: auto;
				right: -15px;
			}
		}
		.flickity-page-dots {
			.dot {
				background:#fff;
				opacity: 1;
				&.is-selected {
					background:#000;
				}
			}
		}
	}
}