<div class="main-promo">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide slide-black-them">
				<div class="container">
					<div class="column-container clearfix">
						<div class="col-left">
							<div class="slide-img">
								<img src="../images/samples/pic-01.png"/>
							</div>
						</div>
						<div class="col-right">
							<div class="slide-text">
								<b>Фейерверк летних сюрпризов от IsaDora!</b>
								<p>С 1 по 31 июля действует акция на весь ассортимент бренда. </p>
								<a href="#" class="link-more">Подробнее</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide slide-white-them">
				<div class="container">
					<div class="column-container clearfix">
						<div class="col-left">
							<div class="slide-img">
								<img src="../images/samples/pic-012.png"/>
							</div>
						</div>
						<div class="col-right">
							<div class="slide-text">
								<b>Самые вкусные цены</b>
								<p>С 1 по 31 июля действует акция на весь ассортимент бренда. </p>
								<a href="#" class="link-more">Подробнее</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide slide-classic-them">
				<div class="container">
					<div class="slide-items-title">
						<b>Твой beauty—код к любому стилю</b>
					</div>
					<div class="slide-img">
						<img src="./images/samples/slide-classic-them-img.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="main-promo-controls">
			<div class="main-promo-btn btn-prev"><span class="arrow"></span></div>
			<div class="main-promo-btn btn-next"><span class="arrow"></span></div>	
		</div>
	</div>
</div>