.contacts-tabs {
	margin-top: 45px;
	.nav-tabs {
		list-style: none;
		font-size: 0;
		padding: 0;
		margin: 0 0 50px 0;
		li {
			display: inline-block;
			&.active {
				a {
					color: #fff;
					&::after {
						background-color: #000;
						background-image: url(../images/tab-icon.svg);
					}
				}
			}
			&:nth-child(2n) {
				a {
					border-left: none;
					border-right: none;
				}
			}
		}
		a {
			@extend .font-regular;
			color: #000;
			font-size: 16px;
			position: relative;
			padding: 12px 45px;
			z-index: 2;
			line-height: 1;
			transition: all .2s;
			display: inline-block;
			border: 2px solid #000;
			&::after {
				content: '';
				width: 100%;
				height: 100%;
				background-color: #fff;
				background-image: none;
				background-repeat: no-repeat;
				background-position: center;
				position: absolute;
				left: 0;
				top: 0;
				z-index: -1;
				transition: all .2s;
			}

			&:hover {
				&::after {
				}
			}
		}
	}
	.nav-tabs-inside {
		list-style: none;
		font-size: 0;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			margin-right: 40px;
			&.active {
				a {
					border-color: transparent;
					color: #f00024;
				}
			}
		}
		a {
			@extend .font-bold;
			color: #000000;
			font-size: 18px;
			display: inline-block;
			transition: all .2s;
			border-bottom: 1px dashed #000;
			padding-bottom: 5px;
			&:hover {
				color: #f00024;
				border-color: transparent;
			}
		}
	}
}