<div class="sale-item">
	<div class="sale-img">
		<img src="" alt="">
	</div>
	<div class="column-container clearfix">
		<div class="col-left">
			<div class="sale-text">
				<b></b>
				<p></p>
				<a href="#" class="link-more">Условия</a>
			</div>
		</div>
		<div class="col-right">
			<div class="sale-number">
				<strong>
					10—30%
				</strong>
				<div class="date">
					10 — 25 июля
				</div>
			</div>
		</div>
	</div>
</div>