.page-sale {
	display: block;
	width: 100%;
	padding:60px 0;
	background-color: #fff;
	// background-image: url(../images/sale-back-bg_01.png);
	// background-repeat: repeat;
	// background-position: top center;
	.container {
		position: relative;
		z-index: 1;
	}
	.sale-items {
		font-size: 0;
		margin-top: 30px;
	}
}



@media (max-width: 740px) {
	.page-sale {
		padding: 30px 15px ;
		background-repeat: repeat;
		background-size: auto;
		background-position: 0 0;
		.points-container {
			display: none;
		}
	}
}

@media (min-width:740px) and (max-width: 1024px) {
	.page-sale {
		padding: 30px 15px ;
		background-repeat: repeat;
		background-size: auto;
		background-position: 0 0;
		.points-container {
			display: none;
		}
	}
}