.points-container {
	display: block;
	height: 100%;
	width: 1366px;
	left: 50%;
	margin-left: -683px;
	position: absolute;
	top: 0;
	z-index: 0;
	.points-wrapper {

	}
	.point {
		position: absolute;
		img {

		}
	}
}