
 

 

<div class="main-bestsellers">
	<div class="container">
		<h2 class="page-title">bestsellers</h2>
		<div class="main-best-tabs">
		 
	 	 	<ul class="nav-tabs" role="tablist">
			    <li class="active">
			    	<a href="#tab1" data-toggle="tab">Косметика</a>
			    </li>
			    <li>
			    	<a href="#tab2" data-toggle="tab">Парфюмерия</a>
			    </li>
		  	</ul>

		  	<div class="tab-content">
			    <div class="tab-pane active" id="tab1">
            <div class="best-in-carousel">
                
                  <div class="best-item">
	<div class="block-in">
		<div class="best-img">
			<img src="../images/samples/pic-003.jpg" alt="">
		</div>
		<div class="best-title">
			<b>Мужской Аромат Soleil Blanc от Tom Ford</b>
		</div>
		<div class="best-text">
			<p>Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…</p>
			<p>Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…</p>
		</div>
	</div>
</div>

                
                  <div class="best-item">
	<div class="block-in">
		<div class="best-img">
			<img src="../images/samples/pic-004.jpg" alt="">
		</div>
		<div class="best-title">
			<b>Мужской Аромат Soleil Blanc от Tom Ford</b>
		</div>
		<div class="best-text">
			<p>Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…</p>
			<p>Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…</p>
		</div>
	</div>
</div>

                
                  <div class="best-item">
	<div class="block-in">
		<div class="best-img">
			<img src="../images/samples/pic-005.jpg" alt="">
		</div>
		<div class="best-title">
			<b>Мужской Аромат Soleil Blanc от Tom Ford</b>
		</div>
		<div class="best-text">
			<p>Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…</p>
			<p>Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…</p>
		</div>
	</div>
</div>

                
                  <div class="best-item">
	<div class="block-in">
		<div class="best-img">
			<img src="../images/samples/pic-003.jpg" alt="">
		</div>
		<div class="best-title">
			<b>Мужской Аромат Soleil Blanc от Tom Ford</b>
		</div>
		<div class="best-text">
			<p>Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…</p>
			<p>Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…</p>
		</div>
	</div>
</div>

                
            </div>
			    </div>
			    <div class="tab-pane" id="tab2">
            <div class="best-in-carousel">
      		    	 	
          					<div class="best-item">
	<div class="block-in">
		<div class="best-img">
			<img src="../images/samples/pic-005.jpg" alt="">
		</div>
		<div class="best-title">
			<b>Мужской Аромат Soleil Blanc от Tom Ford</b>
		</div>
		<div class="best-text">
			<p>Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…</p>
			<p>Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…</p>
		</div>
	</div>
</div>

          				
          					<div class="best-item">
	<div class="block-in">
		<div class="best-img">
			<img src="../images/samples/pic-003.jpg" alt="">
		</div>
		<div class="best-title">
			<b>Мужской Аромат Soleil Blanc от Tom Ford</b>
		</div>
		<div class="best-text">
			<p>Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…</p>
			<p>Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…</p>
		</div>
	</div>
</div>

          				
          					<div class="best-item">
	<div class="block-in">
		<div class="best-img">
			<img src="../images/samples/pic-004.jpg" alt="">
		</div>
		<div class="best-title">
			<b>Мужской Аромат Soleil Blanc от Tom Ford</b>
		</div>
		<div class="best-text">
			<p>Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…</p>
			<p>Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…</p>
		</div>
	</div>
</div>

          				
          					<div class="best-item">
	<div class="block-in">
		<div class="best-img">
			<img src="../images/samples/pic-003.jpg" alt="">
		</div>
		<div class="best-title">
			<b>Мужской Аромат Soleil Blanc от Tom Ford</b>
		</div>
		<div class="best-text">
			<p>Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…</p>
			<p>Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…</p>
		</div>
	</div>
</div>

          				
            </div>
			    </div>
		  </div>

		</div>
    <a href="#" class="link-more">Перейти в раздел</a>
	</div>

  <div class="points-container">
    
      <div class="point" style="right:initial;left:500px;top:-35px;bottom:initial;">
	<img src="../images/main-best-icons/i-1.svg" alt="">
</div>
    
      <div class="point" style="right:initial;left:745px;top:135px;bottom:initial;">
	<img src="../images/main-best-icons/i-2.svg" alt="">
</div>
    
      <div class="point" style="right:-135px;left:initial;top:-20px;bottom:initial;">
	<img src="../images/main-best-icons/i-3.svg" alt="">
</div>
    
      <div class="point" style="right:-5px;left:initial;top:540px;bottom:initial;">
	<img src="../images/main-best-icons/i-4.svg" alt="">
</div>
    
      <div class="point" style="right:575px;left:initial;top:initial;bottom:-55px;">
	<img src="../images/main-best-icons/i-5.svg" alt="">
</div>
    
      <div class="point" style="right:initial;left:-155px;top:initial;bottom:-205px;">
	<img src="../images/main-best-icons/i-6.svg" alt="">
</div>
    
      <div class="point" style="right:initial;left:45px;top:initial;bottom:225px;">
	<img src="../images/main-best-icons/i-7.svg" alt="">
</div>
    
      <div class="point" style="right:initial;left:15px;top:260px;bottom:initial;">
	<img src="../images/main-best-icons/i-8.svg" alt="">
</div>
    
      <div class="point" style="right:-55px;left:initial;top:initial;bottom:-25px;">
	<img src="../images/main-best-icons/i-10.svg" alt="">
</div>
    
  </div>

</div>