<span>ALEXANDER WANG DENIM</span>
<p>Линия джинсовой одежды известного американского дизайнера китайского происхождения Александра Вэна. Деним особой обработки, суперстильные модели, особенный «фирменный» почерк дизайнера принесли линии невероятную популярность среди звезд street-style и
  трендсеттеров. Линия представлена в отделе женской одежды Saks Fifth Avenue.</p>