<div class="customer-item">
	<div class="item">
		<div class="day-img">
			<img src="" alt="">
		</div>
	</div>
	<div class="item">
		<div class="day-text">
			<b></b>
			<p></p>
		</div>
	</div>
	<div class="item">
		<div class="day-data">
			<strong><span></span></strong>
			<h3></h3>
			<b>ТРЦ Keruen City</b>
		</div>
	</div>
</div>