.page-customer-day {
	padding-top: 60px;
	padding-bottom: 100px;
	.container {
		position: relative;
		z-index: 1;
	}
	@media (max-width: 740px) {
		padding: 30px 15px;
		.points-container {
			display: none;
		}
	}
	@media (min-width:740px) and (max-width: 1024px) {
		padding: 30px 15px;
		.points-container {
			display: none;
		}
	}
}