.page-club {
	padding: 60px 0 100px 0;
	.container {
		position: relative;
		z-index: 1;
	}
	table {
		width: 100%;
		tbody {
			width: 100%;
			tr {
				width: 100%;
				height: 50px !important;
				line-height: 50px;
				&:nth-child(1) {
					background: #fcf9f5;
				}
				&:nth-child(2n) {
					background:#fff;
				}
				&:nth-child(3n) {
					background: #fafafa;
				}
 				td {
					border: none !important;
					padding-top: 0 !important;
					padding-bottom: 0 !important;
					margin-top: 0;
					margin-bottom: 0;
					height: 50px !important; 
					p {
						span {
							@extend .font-bold;
							color: #000000;
							font-size: 20px;
						}
					}
				}
			}
		}
	}
	.points-container {
		.point {
			&:nth-child(3) {
				display: none;
			}
		}
	}
	.club-info {
		display: block;
		width: 70%;
		margin-top: 50px;
	}
	.club-info-item {
		margin-bottom: 45px;
		b {
			@extend .font-bold;
			color: #ec2028;
			font-size: 26px;
			display: block;
			margin-bottom: 35px;
			white-space: nowrap;
		}
		p {
			@extend .font-regular;
			color: #000000;
			font-size: 18px;
			line-height: 30px;
			display: block;
			margin: 0;
		}
	}
	.club-img {
		display: inline-block;
		position: absolute;
		bottom: 0;
		right: -65px;
		z-index: 0;
		@media (min-width: 1700px) {
			right: - 165px;
		}
	}
	.club-tabs {
		.nav-tabs {
			list-style: none;
			font-size: 0;
			padding: 0;
			margin: 30px 0 50px 0;
			li {
				display: inline-block;
				&.active {
					a {
						color: #fff;
						&::after {
							background-color: #000;
							background-image: url(../images/tab-icon.svg);
						}
					}
				}
				&:nth-child(2n) {
					a {
						border-left: none;
						border-right: none;
					}
				}
				&:last-child {
					a {
						@media (min-width:1025px) {
							border-right: 2px solid;
						}
					}
				}
			}
			a {
				@extend .font-regular;
				color: #000;
				font-size: 16px;
				position: relative;
				padding: 12px 45px;
				z-index: 2;
				line-height: 1;
				transition: all .2s;
				display: inline-block;
				border: 2px solid #000;
				&::after {
					content: '';
					width: 100%;
					height: 100%;
					background-color: #fff;
					background-image: none;
					background-repeat: no-repeat;
					background-position: center;
					position: absolute;
					left: 0;
					top: 0;
					z-index: -1;
					transition: all .2s;
				}

				&:hover {
					&::after {
					}
				}
			}
		}
	}
}

@media (max-width: 740px) {
	.page-club {
		padding: 30px 15px;
		padding-bottom: 0;
		&::after {
			// display: none;
			width: 300px;
			height: 300px;
			right: auto;
			background-size: contain;
			position: relative;
			display: inline-block;
		    left: 50%;
		    margin-left: -150px;
		    bottom: -35px;
		}
		.page-title {
			white-space: normal;
			line-height: 1.3;
		}
		.points-container {
			display: none;
		}
		.club-info {
			width: 100%;
			margin-top: 25px;
			.club-info-item {
				margin-bottom: 15px;
				b {
					font-size: 20px;
					line-height: 1.3;
					margin-bottom: 10px;
					white-space: normal;
				}
				p {
					font-size: 16px;
				}
			}
		}
		.club-img { 
			position: static;
			width: 100%;
			text-align: center;
			img {
				width: 100%;
				display: inline-block;
			}
		}
		.club-tabs {
			text-align: center;
			.nav-tabs {
				margin-bottom: 15px;
				li {
					margin-bottom: 7px;
					margin-right: 10px;
					a {
						padding: 10px 20px;
					}
					&:nth-child(2n) {
						border-right: 2px solid;
						border-left: 2px solid;
					}
				}
			}
		}
	}
}

@media (min-width:740px) and (max-width: 1024px) {
	.page-club {
		padding: 30px 15px;
		padding-bottom: 0;
		&::after {
			width: 450px;
			height: 450px;
			right: auto;
			background-size: contain;
			position: relative;
			display: inline-block;
		    left: 50%;
		    margin-left: -150px;
		    bottom: -35px;
		}
		.page-title {
			white-space: normal;
			line-height: 1.3;
		}
		.points-container {
			display: none;
		}
		.club-info {
			width: 100%;
			margin-top: 25px;
			.club-info-item {
				margin-bottom: 15px;
				b {
					font-size: 20px;
					line-height: 1.3;
					margin-bottom: 10px;
					white-space: normal;
				}
				p {
					font-size: 16px;
				}
			}
		}
		.club-tabs {
			text-align: left;
			.nav-tabs {
				margin-bottom: 15px;
				li {
					margin-bottom: 7px;
					margin-right: 10px;
					a {
						padding: 10px 20px;
					}
					&:nth-child(2n) {
						border-right: 2px solid;
						border-left: 2px solid;
					}
				}
			}
		}
		.club-img { 
			position: static;
			width: 100%;
			text-align: center;
			img {
				width: 400px;
				display: inline-block;
			}
		}
	}
}