.struct-form-teaser .illustration{
    display: block;
    float: left;
    width: 105px;
    height: 128px;

    background: url(/images/forms-icon.png) no-repeat center top;
}

.struct-form-teaser dl,
.struct-form-teaser .more{
    margin-left: 128px;
}

.struct-form-teaser dl{
    min-height: 128px;
}

.struct-form-teaser dt{
    display: block;
    float: left;
    width: 168px;
    height: 28px;
    padding: 0;
    margin-bottom: 10px;
}

.struct-form-teaser dd{
    min-height: 28px;
    padding: 0;
    margin-left: 180px;
    margin-bottom: 10px;
}

.struct-form-teaser .more{
    margin-top: 18px;
    padding: 12px 12px 12px 0;
    border-top: 1px solid rgba(52, 104, 51, 0.24);
    cursor: pointer;
}


.control-group[attr="form_data"] > .control-label{
    margin-bottom: 18px;
    font-size: 18px;
}

.struct-form-editor[default-fields="true"] .fields-editor,
.struct-form-editor[default-fields="false"] .no-fields{
    display: none;
}

.struct-form-editor .bill{
    display: none !important;
}

.struct-form-editor{
    height: 0px;
    overflow: hidden;

    -webkit-transition: height 0.8s;
    -moz-transition: height 0.8s;
    transition: height 0.8s;
}

.struct-form-editor.open{
    height: auto;
}

.struct-form-editor .sectionHeader{
    margin: 0 0 24px 0;
}

.struct-form-editor .control-group > label:first-child{
    font-weight: bold;
}

.struct-form-editor .repeat-field-blank{
    display: none;
}

.struct-form-editor .repeat-field + .repeat-field{
    margin-top: 8px;
}

.struct-form-editor .repeat-field input:invalid,
.struct-form-editor .repeat-field input.error{
    border: 1px #b94a48 solid;
    color: #b94a48;
    background: rgb(255, 230, 233);
}

.struct-form-editor .hint-bottom{
    margin-top: -8px;
    margin-left: 0;
}

.struct-form-editor .less{
    font-size: 16px;
}

.struct-form-editor .well{
    margin-left: 0;
}

.struct-form-editor .less a{
    text-decoration: underline;
    cursor: pointer;
}

.struct-form-editor .no-fields{
    padding: 32px;
    border: 3px dashed #999;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.struct-form-editor .no-fields h3{
    margin-top: 0;
    vertical-align: top;
}

.struct-form-editor .no-fields dl{
    text-align: left;
    display: inline-block;
}

.struct-form-editor .no-fields dl:after{
    content: ' ';
    display: block;
    float: none;
    clear: both;
}

.struct-form-editor .no-fields dt{
    height: 32px;
    float: left;
    clear: left;
}

.struct-form-editor .no-fields dd{
    float: left;
}

.struct-form-editor .fields-editor li{
    display: block;
    padding-right: 12px;
}

.struct-form-editor .fields-editor li:after{
    content: ' ';
    display: block;
    float: none;
    clear: both;
}

.struct-form-editor .fields-editor .icon-resize-vertical{
    cursor: move;
}

.struct-form-editor .unmovable .icon-resize-vertical{
    cursor: default;
    opacity: 0.3;
}

.struct-form-editor .fields-editor .input-wrapper{
    float: left;
    width: 200px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    overflow: hidden;
}

.struct-form-editor .fields-editor .input-wrapper [type="text"]{
    width: 160px;
    height: 28px;
    padding: 0;
    margin-righ: 14px;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    line-height: 18px;
    vertical-align: middle;
    background: none;
    outline: none;
    box-shadow: none;
    vertical-align: middle;
}

.struct-form-editor .fields-editor .input-wrapper [type="text"]:invalid,
.struct-form-editor .fields-editor .input-wrapper [type="text"].error{
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: dashed 1px #e00;
}

.struct-form-editor .fields-editor .list-wrapper{
    height: 32px;
    margin-right: 14px;
    float: left;
}

.struct-form-editor .fields-editor .controls-wrapper{
    float: left;
}

.struct-form-editor .fields-editor .extended-options{
    display: none;
    float: none;
    clear: both;
    padding-top: 12px;
}

.struct-form-editor .fields-editor .extended-options.open{
    display: block;
}

.struct-form-editor .fields-editor .extended-options label{
    line-height: 24px;
    padding: 6px 0;
}

.struct-form-editor .fields-editor .extended-options input[type="text"]{
    width: 95%;
}

.struct-form-editor .fields-editor .extended-options textarea{
    width: 95%;
    min-height: 32px;
}

.struct-form-editor .fields-editor .deleted a{
    cursor: pointer;
}

.struct-form-editor .fields-editor .fields-placeholder{
    padding: 0;
    height: 50px;
}

.struct-form-editor .fields-editor .no-fields-in-list{
    display: block;
    display: none;
}

@media(max-width: 1200px){
    .struct-form-editor .fields-editor .list-wrapper{
        float: none;
        clear: both;
        margin-bottom: 6px;
    }

    .struct-form-editor .fields-editor select{
        width: 100%;
    }
}

@media(min-width: 1200px){
    .struct-form-editor .fields-editor select{
        width: 180px;
    }
}