.about-widgets {
	font-size: 0;
	display: block;
	width: 100%;
	background-color: #fcf9f5;
	padding: 50px 0 75px 0;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 1;
	a {
		width: 20%;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		margin-right: 78px;
		&:nth-child(4n) {
			margin-right: 0;
		}
		&:hover {
			b {
				color: #f00024;
			}
		}
	}
	.widget {
		display: inline-block;
	}
	.widget-img {
		width: 80px;
		height: 80px;
		line-height: 80px;
		display: inline-block;
		background-color: #f00024;
		text-align: center;
		border-radius: 100%;
		margin-bottom: 25px;
		img {
			width: 46px;
			height: 46px;
			display: inline-block;
		}
	}
	.widget-text {
		display: block;

		b {
			@extend .font-bold;
			color: #000000;
			font-size: 18px;
			line-height: 22px;
			display: block;
			margin-bottom: 25px;
			min-height: 50px;
			transition: all .2s;
		}
		p {
			@extend .font-regular;
			color: #000000;
			font-size: 16px;
			line-height: 20px;
			margin: 0;
			display: block;
		}
	}
}

@media (max-width: 740px) {
	.about-widgets {
		text-align: center;
		padding: 0;
		a {
			margin: 0;
			padding: 15px 0;
			width: 100%;
			display: inline-block;
			// border-bottom: 1px solid #ccc;
			&:last-child {
				border-bottom: none;
			}
		}
		.widget-img {
			margin-bottom: 15px;
		}
		.widget-text {
			b {
				font-size: 16px;
				line-height: 1.3;
				margin-bottom: 10px;
				min-height: auto;
			}
		}
	}
}

@media (min-width:740px) and (max-width: 1024px) {
	.about-widgets {
		text-align: center;
		padding: 0;
		a {
			margin: 0;
			padding: 15px 30px;
			width: 50%;
			display: inline-block;
			// border-bottom: 1px solid #ccc;
			// border-right: 1px solid #ccc;
			&:last-child {
				border-bottom: none;
			}
			&:nth-child(3) {
				border-bottom: none;
			}
			&:nth-child(2n) {
				border-right: none;
			}
		}
		.widget-img {
			margin-bottom: 15px;
		}
		.widget-text {
			b {
				font-size: 16px;
				line-height: 1.3;
				margin-bottom: 10px;
				min-height: auto;
			}
		}
	}
}