.main-bestsellers {
	padding: 60px 0 150px 0;
	background-color: #fff;
	border-top: 2px solid #ec2028;
	border-bottom: 2px solid #ec2028;
	overflow: hidden;
	// background-image: url(../images/sale-bg.png);
	// background-repeat: repeat;
	// background-position: top center;
	position: relative;
	.container {
		position: relative;
		z-index: 1;
		.link-more {
			@extend .font-bold;
			position: absolute;
			right: 50px;
			bottom: -50px;
			color: #000;
			font-size: 16px;
			transition: all .2s;
			line-height: 1;
			&::after {
				content: '';
				position: absolute;
				right: -40px;
				width: 32px;
				height: 16px;
				background:url(../images/arrow_right-black.svg) center center no-repeat;
				background-size: 90%;
				transition: all .2s;
			}
			&:hover {
				// color:#f00024;
				&::after {
					transform: translate(5px,0);
					// background:url(../images/arrow_right-red.svg) center center no-repeat;
				}
			}
		}
	}
	.main-best-tabs {
		display: block;
		margin-top: 50px;
		.nav-tabs {
			list-style: none;
			font-size: 0;
			padding: 0;
			margin: 0 0 50px 0;
			li {
				display: inline-block;
				&.active {
					a {
						color: #fff;
						&::after {
							background-color: #000;
							background-image: url(../images/tab-icon.svg);
						}
					}
				}
				&:nth-child(2) {
					a{border-left: none;}
				}
			}
			a {
				@extend .font-regular;
				color: #000;
				font-size: 16px;
				position: relative;
				padding: 12px 25px;
				z-index: 2;
				line-height: 1;
				transition: all .2s;
				display: inline-block;
				border: 2px solid #000;
				&::after {
					content: '';
					width: 100%;
					height: 100%;
					background-color: #fff;
					background-image: none;
					background-repeat: no-repeat;
					background-position: center;
					position: absolute;
					left: 0;
					top: 0;
					z-index: -1;
					transition: all .2s;
				}

				&:hover {
					&::after {
					}
				}
			}
		}
		.tab-content {
			display: inline-block;
			width: 100%;
		}
	}
}

@media (max-width: 740px) {
	.main-bestsellers {
		padding: 30px 15px 70px 15px;
		.points-container {
			display: none;
		}
		.main-best-tabs {
			margin-top: 30px;
			text-align: center;
			.nav-tabs {
				margin-bottom: 30px;
				a {
					padding: 10px 15px;
				}
			}
		}
		.link-more { 
			position: relative !important;
			top: auto;
			right: auto;
			bottom: -20px;
			left: 50%;
			margin-left: -80px;
			&::after {
				left: 160px;
			}
		}
	}
}

@media (min-width:740px) and (max-width: 1024px) {
	.main-bestsellers {
		padding: 30px 15px 90px 15px;
		.points-container {
			display: none;
		}
		.main-best-tabs {
			margin-top: 30px;
			.nav-tabs {
				margin-bottom: 30px;
				a {
					padding: 10px 15px;
				}
			}
		}
		.link-more { 
			top: auto;
			right: 0;
			bottom: -60px !important;
			&::after {
				left: 160px;
			}
		}
	}
}