{% 
    set items = [
      {
        img: '../images/samples/pic-003.jpg',
        title: 'Мужской Аромат Soleil Blanc от Tom Ford',
        text: 'Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…'
      },
      {
        img: '../images/samples/pic-004.jpg',
        title: 'Мужской Аромат Soleil Blanc от Tom Ford',
        text: 'Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…'
      },
      {
        img: '../images/samples/pic-005.jpg',
        title: 'Мужской Аромат Soleil Blanc от Tom Ford',
        text: 'Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…'
      },
      {
        img: '../images/samples/pic-003.jpg',
        title: 'Мужской Аромат Soleil Blanc от Tom Ford',
        text: 'Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…'
      }
    ]
 %}
 {% 
    set items_2 = [
      {
        img: '../images/samples/pic-005.jpg',
        title: 'Мужской Аромат Soleil Blanc от Tom Ford',
        text: 'Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…'
      },
      {
        img: '../images/samples/pic-003.jpg',
        title: 'Мужской Аромат Soleil Blanc от Tom Ford',
        text: 'Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…'
      },
      {
        img: '../images/samples/pic-004.jpg',
        title: 'Мужской Аромат Soleil Blanc от Tom Ford',
        text: 'Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…'
      },
      {
        img: '../images/samples/pic-003.jpg',
        title: 'Мужской Аромат Soleil Blanc от Tom Ford',
        text: 'Композиция аромата в своей начальной ноте преобразилась яркими и жизнерадостными цветочными нотами…'
      }
    ]
 %}

 {% 
    set points = [
        {
          right: 'initial',
          top: '-35px',
          left: '500px',
          bottom: 'initial',
          img: '../images/main-best-icons/i-1.svg'
        },
        {
          right: 'initial',
          top: '135px',
          left: '745px',
          bottom: 'initial',
          img: '../images/main-best-icons/i-2.svg'
        },
        {
          right: '-135px',
          top: '-20px',
          left: 'initial',
          bottom: 'initial',
          img: '../images/main-best-icons/i-3.svg'
        },
        {
          right: '-5px',
          top: '540px',
          left: 'initial',
          bottom: 'initial',
          img: '../images/main-best-icons/i-4.svg'
        },
        {
          right: '575px',
          top: 'initial',
          left: 'initial',
          bottom: '-55px',
          img: '../images/main-best-icons/i-5.svg'
        },
        {
          right: 'initial',
          top: 'initial',
          left: '-155px',
          bottom: '-205px',
          img: '../images/main-best-icons/i-6.svg'
        },
        {
          right: 'initial',
          top: 'initial',
          left: '45px',
          bottom: '225px',
          img: '../images/main-best-icons/i-7.svg'
        },
        {
          right: 'initial',
          top: '260px',
          left: '15px',
          bottom: 'initial',
          img: '../images/main-best-icons/i-8.svg'
        },
        {
          right: '-55px',
          top: 'initial',
          left: 'initial',
          bottom: '-25px',
          img: '../images/main-best-icons/i-10.svg'
        }
    ]
%}

<div class="main-bestsellers">
	<div class="container">
		<h2 class="page-title">bestsellers</h2>
		<div class="main-best-tabs">
		 
	 	 	<ul class="nav-tabs" role="tablist">
			    <li class="active">
			    	<a href="#tab1" data-toggle="tab">Косметика</a>
			    </li>
			    <li>
			    	<a href="#tab2" data-toggle="tab">Парфюмерия</a>
			    </li>
		  	</ul>

		  	<div class="tab-content">
			    <div class="tab-pane active" id="tab1">
            <div class="best-in-carousel">
                {% for item in items %}
                  {% include "bestsellers-item/_bestsellers-item.html" %}
                {% endfor %}
            </div>
			    </div>
			    <div class="tab-pane" id="tab2">
            <div class="best-in-carousel">
      		    	 	{% for item in items_2 %}
          					{% include "bestsellers-item/_bestsellers-item.html" %}
          				{% endfor %}
            </div>
			    </div>
		  </div>

		</div>
    <a href="#" class="link-more">Перейти в раздел</a>
	</div>

  <div class="points-container">
    {% for item in points %}
      {% include "points/_points.html" %}
    {% endfor %}
  </div>

</div>