.clear{ float:none; clear:both; }

.scopes{ display:block; }



.ActiveTable{ position:relative; overflow:visible;  }
.ActiveTable .sideNext{ position:absolute; top:0px; bottom:0px; right:-36px; width:32px; }
.ActiveTable .sideNext.visible, .ActiveTable .sideNext.visiblePermanent{ background:#e0e0e0 url(images/right_side.png) center center no-repeat; opacity:0.25; cursor:pointer; }
.ActiveTable .sideNext:hover{ background:#e0e0e0 url(images/right_side.png) center center no-repeat; opacity:0.45; cursor:pointer; }
.ActiveTable .sidePrev{ position:absolute; top:0px; bottom:0px; left:-36px; width:32px; }
.ActiveTable .sidePrev.visible, .ActiveTable .sidePrev.visiblePermanent{ background:#e0e0e0 url(images/left_side.png) center center no-repeat; opacity:0.25; cursor:pointer; }
.ActiveTable .sidePrev:hover{ background:#e0e0e0 url(images/left_side.png) center center no-repeat; opacity:0.45; cursor:pointer; }
.ActiveTable .btn-toolbar{ margin:0px !important; }

.ActiveTable .info{ margin-top:15px; margin-bottom:-7px; font-size:11px; color:#7d878e; }
.ActiveTable .info .subitem{ float:left; margin-right:18px; }
.ActiveTable .info .progress{ width:100px; margin-bottom:0px; }
.ActiveTable .info .progress .bar{
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    -ms-transition-duration: 0.1s;
    transition-duration: 0.1s;
    background-color:#d0d0d0; background-image:none;
}
.ActiveTable .table .cell .btn-group{ float:right; }
.ActiveTable .headRow{ background-color:#fafafa; }
.ActiveTable .headRow a span{ margin-left:6px; }
.ActiveTable .keyboardHint{ font-size:12px; text-align:right; font-style:italic; color:#7d878e; opacity:0.9; margin:-14px 0px -2px; padding: 0px;  }
.ActiveTable .keyboardHint strong{ font-size:16px; color:#222; }
.ActiveTable .keyboardHint .cmd_key{ padding: 6px 8px; background:url(images/cmd_key.gif) center 8px no-repeat; opacity:0.6; }

.ActiveTable .headerPrepend{ margin-botoom:18px; }
.ActiveTable .headerAppend{ margin-top:18px; }


@media (min-width: 1024px)
{
    .ActiveTable .sideNext{ right:-24px; width:20px; background-color:transparent; }
    .ActiveTable .sidePrev{ left:-24px; width:20px; background-color:transparent; }

	.ActiveTable .sideNext:hover, .ActiveTable .sidePrev:hover,
	.ActiveTable .sideNext.visible, .ActiveTable .sidePrev.visible,
	.ActiveTable .sideNext.visiblePermanent, .ActiveTable .sidePrev.visiblePermanent
	{ background-color:transparent !important; }
	
    .searchSub{ float:right; }
    .buttons{ float:left; }
    .scopes{ display:block; float:left; margin-left:18px; }
}

@media (min-width: 1280px)
{
    .ActiveTable .sideNext{ right:-64px; width:60px; background-color:transparent; }
    .ActiveTable .sidePrev{ left:-64px; width:60px; background-color:transparent; }

	.ActiveTable .sideNext:hover, .ActiveTable .sidePrev:hover,
	.ActiveTable .sideNext.visible, .ActiveTable .sidePrev.visible,
	.ActiveTable .sideNext.visiblePermanent, .ActiveTable .sidePrev.visiblePermanent
	{ background-color:transparent !important; }
}

@media (min-width: 1480px)
{
    .ActiveTable .sideNext{ right:-144px; width:140px; }
    .ActiveTable .sidePrev{ left:-144px; width:140px; }
}

@media (max-width: 1024px){
    .ActiveTable .sidePrev, .ActiveTable .sideNext{ display:none !important; }
    .ActiveTable .searchBar form > div{ margin-top:8px; }
}
