.page-bestsellers {
	padding: 60px 0 180px 0;
	display: block;
	background-color: #fff;
	// background-image: url(../images/best-back-bg_01.png);
	// background-repeat: repeat;
	// background-position: top center;
	.container {
		position: relative;
		z-index: 1;
	}
	.best-item {
		margin-bottom: 20px;
	}
	.bestsellers-tabs {
		display: block;
		margin-top: 50px;
		.nav-tabs {
			list-style: none;
			font-size: 0;
			padding: 0;
			margin: 0 0 50px 0;
			li {
				display: inline-block;
				&.active {
					a {
						color: #fff;
						&::after {
							background-color: #000;
							background-image: url(../images/tab-icon.svg);
						}
					}
				}
				&:nth-child(2) {
					a{border-left: none;}
				}
			}
			a {
				@extend .font-regular;
				color: #000;
				font-size: 16px;
				position: relative;
				padding: 12px 25px;
				z-index: 2;
				line-height: 1;
				transition: all .2s;
				display: inline-block;
				border: 2px solid #000;
				&::after {
					content: '';
					width: 100%;
					height: 100%;
					background-color: #fff;
					background-image: none;
					background-repeat: no-repeat;
					background-position: center;
					position: absolute;
					left: 0;
					top: 0;
					z-index: -1;
					transition: all .2s;
				}

				&:hover {
					&::after {
					}
				}
			}
		}
	}
}

@media (max-width: 740px) {
	.page-bestsellers {
		padding: 30px 15px ;
		background-repeat: repeat;
		background-size: auto;
		background-position: 0 0;
		.link-best {
			margin-right: 0 !important;
		}
		.points-container {
			display: none;
		}
		.bestsellers-tabs {
			text-align: center;
			a[data-toggle="tab"] {
				padding: 8px 18px;
			}
		}
		.tab-content {
			text-align: center;
		}
	}
}

@media (min-width:740px) and (max-width: 1024px) {
	.page-bestsellers {
		padding: 30px 15px ;
		background-repeat: repeat;
		background-size: auto;
		background-position: 0 0;
		.points-container {
			display: none;
		}
		.bestsellers-tabs {
			a[data-toggle="tab"] {
				padding: 8px 18px;
			}
		}
		.tab-content {
			text-align: center;
		}
	}
}