<!-- блок с адресом и картой -->
<div class="contact-item">
	<!-- текст адресса -->
	<div class="adres">
		<p>
			{{item.adres}}
		</p>
	</div>
	<!-- end -->
	<!-- картинка магазина -->
	<div class="place-img">
		<img src="{{item.img}}" alt="">
	</div>
	<!-- end -->
	<!-- карта -->
	<div class="map-container">
		<div class="map jsMap" 
			data-latitude="{{item.lat}}" 
			data-longitude="{{item.lag}}" 
			data-marker="{{item.marker}}">
		</div>
	</div>
	<!-- end -->
</div>
<!-- end -->