.page-contacts {

	.contact-item {
		.adres {
			display: inline-block;
			max-width: 190px;
			width: 100%;
			margin-top: 95px;
			p {
				@extend .font-regular;
				color: #000000;
				font-size: 18px;
				line-height: 30px;
				display: block;
				margin:0;
			}
		}
		.place-img {
			width: 420px;
			height: 420px;
			overflow: hidden;
			position: absolute;
			right: 480px;
			top: 40px;
			z-index: 3;
			border-radius: 100%;
			img {
				width: 100%;
				height: 100%;
				display: inline-block;
			}
		}
		.map {
			width: 580px;
			height: 580px;
			border-radius: 100%;
			border: 1px solid #f00024;
			background-color: #ccc;
			overflow: hidden !important;
			position: relative;
			display: inline-block;
			.gm-style {
				overflow: hidden;
			}
		}
		.map-container {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.tab-content-inside {
		position: relative;
		padding-bottom: 100px;
	}
}

@media (max-width: 740px) {
	.contact-item {
		.map-container {
			position: static !important;
			.map {
				width: 100% !important;
				height: 300px !important;
				border-radius: initial !important;
				border-left: 0;
				border-right: 0;
				border-bottom: 0;
				.gm-style-mtc {
					display: none !important;
				}
				.gmnoprint {
					span {
						display: none;
					}
					a {
						display: none;
					}
				}
				a {
					img {
						display: none !important;
					}
				}
				.gm-svpc {
					display: none !important;
				}
			}
		}
		.adres {
			margin-top: 15px !important;
			margin-bottom: 25px;
			padding: 0 0 0 15px;
			width: 100%;
			max-width: 100% !important;
			p {
				font-size: 16px !important;
				line-height: 1.3 !important;
			}
		}
		.place-img {
			position: static !important;
			width: 100% !important;
			height: 300px !important;
			text-align: center;
			display: inline-block;
			margin-top: 10px !important;
			margin-bottom: 20px !important;
			img {
				width: 300px !important;
				height: 300px !important;
				border-radius: 100%;
			}
		}
	}
}


@media (min-width:740px) and (max-width: 1024px) {
	.contact-item {
		padding-bottom: 50px;
		.map-container {
			position: static !important;
			display: inline-block !important;
			float: right;
			margin-right: 45px;
			border-radius: 100%;
			.map {
				width: 400px !important;
				height: 400px !important;
				border-radius: 100%;
				div {
					border-radius: 100%;
				}
			}
		}
		.adres {
			margin-top: 15px !important;
			margin-bottom: 25px;
			padding: 0 0 0 15px;
			width: 100%;
			max-width: 100% !important;
			p {
				font-size: 16px !important;
				line-height: 1.3 !important;
			}
		}
		.place-img {
			position: relative !important;
			display: inline-block !important;
			left: 65px;
			right: initial !important;
			width: 300px !important;
			height: 300px !important;
			text-align: center;
			margin-top: 60px !important;
			margin-bottom: 30px !important;
			top: initial !important;
			img {
				width: 300px !important;
				height: 300px !important;
			}
		}
	}
}

@media (min-width:740px) and (max-width: 1024px) and (orientation: landscape) {
	.map-container {
		margin-right: 150px !important;
	}
	.place-img { 
		left: 230px !important;
	}
}