input.imagesUpload{ margin-left:-86px; opacity:0.0; cursor:pointer; outline:none; width:84px; }
.uploadInformer .fileName{
    margin: 8px 0 4px 0;
    font-size: 18px;
    word-wrap: normal;
    word-break: normal;
}
.uploadInformer .description{
    font-size: 12px;
    line-height: 18px;
}
.uploadInformer{
    display:block;
    max-width:520px;
    margin-bottom:12px;
}
.uploadInformerSuccess{ cursor:move; }
.progress{ margin-top:4px; margin-bottom:9px; }
.uploadsPlaceholder{
    margin-top:12px; border-style:dashed !important; opacity:0.5;
    max-width:560px; padding:0 !important; height:42px;
}

.uploadInformer .imagePreview{ float:left; display:block; width: 100px; }
.uploadInformer > .right{
    margin-left: 110px;
    color: #657965;
}

.uploadInformer .fileTypeLabel{
    opacity: 0.4;
}

.uploadInformer .fileTypeIcon
{
    display:block; float:left; height:64px;
    text-indent:-1000em; width:64px; margin-right:18px;

    background-position:center center; background-size:cover;
    background-image:url(mime-icons/document.png);
}

.uploadInformer .fileTypeIcon[data-mime="application/json"],
.uploadInformer .fileTypeIcon[data-mime="application/javascript"]{
    background-image:url(mime-icons/application_javascript.png);
}
.uploadInformer .fileTypeIcon[data-mime="application/msword"]{
    background-image:url(mime-icons/application_msword.png);
}
.uploadInformer .fileTypeIcon[data-mime="text/csv"],
.uploadInformer .fileTypeIcon[data-mime="application/pdf"]{
    background-image:url(mime-icons/application_pdf.png);
}
.uploadInformer .fileTypeIcon[data-mime="application/vnd.ms-excel"]{
    background-image:url(mime-icons/application_vnd.ms-excel.png);
}
.uploadInformer .fileTypeIcon[data-mime="application/vnd.ms-powerpoint"]{
    background-image:url(mime-icons/application_vnd.ms-powerpoint.png);
}
.uploadInformer .fileTypeIcon[data-mime="application/vnd.openxmlformats-officedocument.presentationml.presentation"]{
    background-image:url(mime-icons/application_vnd.openxmlformats-officedocument.presentationml.presentation.png);
}
.uploadInformer .fileTypeIcon[data-mime="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"]{
    background-image:url(mime-icons/application_vnd.openxmlformats-officedocument.spreadsheetml.sheet.png);
}
.uploadInformer .fileTypeIcon[data-mime="application/vnd.openxmlformats-officedocument.wordprocessingml.document"]{
    background-image:url(mime-icons/application_vnd.openxmlformats-officedocument.wordprocessingml.document.png);
}
.uploadInformer .fileTypeIcon[data-mime="application/x-bzip"]{
    background-image:url(mime-icons/application_x-bzip.png);
}
.uploadInformer .fileTypeIcon[data-mime="application/x-coreldraw"]{
    background-image:url(mime-icons/application_x-coreldraw.png);
}
.uploadInformer .fileTypeIcon[data-mime="application/x-gzip"]{
    background-image:url(mime-icons/application_x-gzip.png);
}
.uploadInformer .fileTypeIcon[data-mime="application/x-perl"]{
    background-image:url(mime-icons/application_x-perl.png);
}
.uploadInformer .fileTypeIcon[data-mime="application/x-php"]{
    background-image:url(mime-icons/application_x-php.png);
}
.uploadInformer .fileTypeIcon[data-mime="application/x-python-bytecode"]{
    background-image:url(mime-icons/application_x-python-bytecode.png);
}
.uploadInformer .fileTypeIcon[data-mime="application/x-ruby"]{
    background-image:url(mime-icons/application_x-ruby.png);
}
.uploadInformer .fileTypeIcon[data-mime="application/x-tar"]{
    background-image:url(mime-icons/application_x-tar.png);
}
.uploadInformer .fileTypeIcon[data-mime="application/x-tgif"]{
    background-image:url(mime-icons/application_x-tgif.png);
}
.uploadInformer .fileTypeIcon[data-mime="application/x-win-lnk"]{
    background-image:url(mime-icons/application_x-win-lnk.png);
}
.uploadInformer .fileTypeIcon[data-mime="application_x-zip.png"]{
    background-image:url(mime-icons/application_x-zip.png);
}
.uploadInformer .fileTypeIcon[data-mime="application/zip"]{
    background-image:url(mime-icons/application_zip.png);
}

.uploadInformer .fileTypeIcon[data-mime="audio/basic"],
.uploadInformer .fileTypeIcon[data-mime="audio/mpeg"],
.uploadInformer .fileTypeIcon[data-mime="audio/mp4"],
.uploadInformer .fileTypeIcon[data-mime="audio/vnd.wave"],
.uploadInformer .fileTypeIcon[data-mime="audio/x-ms-wax"],
.uploadInformer .fileTypeIcon[data-mime="audio/x-ms-wma"]
{
    background-image:url(mime-icons/audio.png);
}

.uploadInformer .fileTypeIcon[data-mime="text/html"],
.uploadInformer .fileTypeIcon[data-mime="text/xml"]
{
    background-image:url(mime-icons/code.png);
}

.uploadInformer .fileTypeIcon[data-mime="text/cmd"]{
    background-image:url(mime-icons/text_cmd.png);
}

.uploadInformer .fileTypeIcon[data-mime="text/css.png"]{
    background-image:url(mime-icons/text_css.png);
}
.uploadInformer .fileTypeIcon[data-mime="text/plain.png"]{
    background-image:url(mime-icons/text_plain.png);
}
.uploadInformer .fileTypeIcon[data-mime="video/mpeg"],
.uploadInformer .fileTypeIcon[data-mime="video/mp4"],
.uploadInformer .fileTypeIcon[data-mime="video/ogg"],
.uploadInformer .fileTypeIcon[data-mime="video/x-flv"]{
    background-image:url(mime-icons/video.png);
}


.uploadInformerDeleted.billet{ display:none; }

.imagesUploads_options{ margin:38px 0 24px 0; cursor:default; }
.imagesUploads_options.loading{
    display:block; position:relative;
}
.imagesUploads_options.loading:after{
    content:' '; display:block; position:absolute;
    left:0; top:0; right:0; bottom:0;
    background:#fff url(../images/loading.gif) center center no-repeat;

    z-index:999;
}
.imagesUploads_options.billet{ display:none; }
.imagesUploads_options .ratioForm
{
    margin:8px 0 14px 0; color:#666;
}
.imagesUploads_options .ratioForm .inputs{ margin:5px 0 8px 0; }
.imagesUploads_options .ratioForm input[type="text"]{ width:95px; }

.imagesUploads_options .ratioForm .fixedRatio{ margin-top:6px; cursor:pointer; }
.imagesUploads_options .ratioForm .fixedRatio input{
    margin:-4px 4px 0 0;
}
.imagesUploads_options .error{ border:#B94A48 1px solid; display:none; }

.imagesUploads_options .thumbs label{
    display:block; position:absolute;
    left:0px; right:1px; top:-24px; text-align:center; height:23px;
    background-color:#468847; color:#fff;
    text-shadow:none;
}
.imagesUploads_options .thumbs .preview label{ left:3px; }
.imagesUploads_options .thumbs{
    display:block; height:286px; position:relative;
    margin-top:32px;
}
.imagesUploads_options .original{
    position:absolute; left:0; top:0px;
    right:50%; height:286px;
    background-color:#f9f9f9; text-align:center; z-index:99;
    overflow:visible;
}
.imagesUploads_options .original img{
    display:block; position:absolute;
    max-width:100%; max-height:100%; border:1px dashed #ccc;
}
.imagesUploads_options .preview{
    position:absolute; right:0px; top:0px;
    width:50%; height:286px;
    background-color:#f4f4f4;
    overflow:visible;
}
.imagesUploads_options .preview .image{ position:absolute; background-color:#fff; }
.imagesUploads_options .actions{ margin-top:12px; }

.imagesUploads_options input[type="text"]{
    width: 100%;
    padding: 0 9px;
    line-height: 28px;
    height: 28px;
    vertical-align: middle;
    box-sizing: border-box;
}
.imagesUploads_options .descriptionForm textarea{
    width:100%;
    padding:11px;
    line-height:16px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 19px;
}

.noScroll{ cursor:default; }

.clear{ clear:both; float:none; }

.jcrop-vline{ width:auto !important; }