<!-- nav-main -->
<nav class="nav-main">
	<div class="container">
	  <ul class="list-inline">
	    <li{%if page == 'about' %} class="active"{% endif %}>
	      <a href="about.html">О компании</a>
	    </li>
	    <li{%if page == 'brands' %} class="active"{% endif %}>
	      <a href="brands.html">Бренды</a>
	    </li>
	    <li{%if page == 'bestsellers' %} class="active"{% endif %}>
	      <a href="bestsellers.html">Bestsellers</a>
	    </li>
	    <li{%if page == 'sale' %} class="active"{% endif %}>
	      <a href="sale.html">Акции</a>
	    </li>
	    <li{%if page == 'customer-day' %} class="active"{% endif %}>
	      <a href="customer-day.html">Клиентские дни</a>
	    </li>
	    <li{%if page == 'club' %} class="active"{% endif %}>
	      <a href="club.html">Stars Club</a>
	    </li>
	    <li{%if page == 'contacts' %} class="active"{% endif %}>
	      <a href="contacts.html">Контакты</a>
	    </li>
	  </ul>
	</div>
</nav><!-- end nav-main -->
