.nav-main {
	vertical-align: middle;
	float: right;
	ul {
		font-size: 0;
		margin-bottom: 0;
		line-height: 80px;
		display: inline-block;
		vertical-align: top;
	}
	li {
		margin: 0 15px;
		line-height: 1;
		vertical-align: middle;
		&.active {
			a {
				color: #f00024;
				border-bottom: 4px solid #f00024;
				padding-bottom: 25px;
			}
		}
		&:last-child {
			margin-right: 0;
		}
	}
	a {
		color: #000000;
		font-size: 18px;
		@extend .font-bold;
		transition: all .2s;
		line-height: 1;
		&:hover {
			color: #f00024;
		}
	}
}

@media (max-width: 1024px) {
	.nav-main {
		position: fixed;
		height: 100vh;
		background:#fff;
		border-top: 2px solid #ec2028;
		width: 300px;
		left: 0;
		transform: translate3d(-100%,0,0);
		transition: all .4s;
		ul {
			li {
				display: block;
				margin: 0;
				line-height: 1;
				padding: 20px 0;
				&.active {
					a {
						border: none;
					}
				}
				a {
					padding-left: 15px;

				}
			}
		}
		&.open {
			transform: translate3d(0,0,0);
		}
	}
}

@media (max-width: 740px) and (orientation:landscape) {
	.nav-main {
		overflow: scroll;
		padding-bottom: 90px;
	}
}