<!-- О компании -->
{% set title = "О компании" %}
{% set page = "about" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}

{% 
    set points = [
      	{
        	right: '-65px',
        	top: '150px',
        	left: 'initial',
        	bottom: 'initial',
        	img: '../images/icons-about/i-1.svg'
      	},
      	{
        	right: '-190px',
        	top: '500px',
        	left: 'initial',
        	bottom: 'initial',
        	img: '../images/icons-about/i-2.svg'
      	},
      	{
        	right: '-45px',
        	top: '930px',
        	left: 'initial',
        	bottom: 'initial',
        	img: '../images/icons-about/i-3.svg'
      	},
      	{
        	right: 'initial',
        	top: 'initial',
        	left: '-155px',
        	bottom: '200px',
        	img: '../images/icons-about/i-4.svg'
      	},
      	{
        	right: 'initial',
        	top: 'initial',
        	left: '40px',
        	bottom: '600px',
        	img: '../images/icons-about/i-5.svg'
      	},
      	{
        	right: 'initial',
        	top: '320px',
        	left: '30px',
        	bottom: 'initial',
        	img: '../images/icons-about/i-6.svg'
      	},
      	{
        	right: 'initial',
        	top: '210px',
        	left: '310px',
        	bottom: 'initial',
        	img: '../images/icons-about/i-7.svg'
      	},
      	{
        	right: '335px',
        	top: '-120px',
        	left: 'initial',
        	bottom: 'initial',
        	img: '../images/icons-about/i-8.svg'
      	}
    ]
%}

<div class="page-about">
	<div class="about-information">
		<div class="container">
			<h2 class="page-title">о компании</h2>
			<div class="about-img">
				<div class="back-img"></div>
				<div class="item-img">
					<img src="../images/samples/about-img.jpg" alt="">
				</div>
			</div>
			<div class="about-text">
				<b>
					Code de Vie Астана<br>
					приглашает Вас на клиентский день Guerlain
				</b>
				<p>
					Great experiences occur when relevance, insight, and vision meet.
					Working side by side with our clients, and based on a deep and thorough understanding of their business and challenges, we help them get perspective, take action and be successful in an ever-changing world.
				</p>
			</div>
		</div>
	</div>
	
	{% include "about-widget/_about-widget.html" %}

	<div class="points-container">
		{% for item in points %}
			{% include "points/_points.html" %}
	    {% endfor %}
	</div>

</div>

{% endblock %}