<!-- О компании -->
{% set title = "Brands" %}
{% set page = "brands" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}

<!-- {% 
    set points = [
        {
            right: '340px',
            top: '-100px',
            left: 'initial',
            bottom: 'initial',
            img: '../images/icons-stars-club/i-1.svg'
        },
        {
            right: '-65px',
            top: '130px',
            left: 'initial',
            bottom: 'initial',
            img: '../images/icons-stars-club/i-2.svg'
        },
        {
            right: '-205px',
            top: 'initial',
            left: 'initial',
            bottom: '120px',
            img: '../images/icons-stars-club/i-3.svg'
        },
        {
            right: 'initial',
            top: 'initial',
            left: '15px',
            bottom: '30px',
            img: '../images/icons-stars-club/i-4.svg'
        },
         {
            right: 'initial',
            top: '320px',
            left: '-60px',
            bottom: 'initial',
            img: '../images/icons-stars-club/i-5.svg'
        }
    ]
%} -->

<div class="page-brands">
	<div class="container">
		<h2 class="page-title">Бренды</h2>
        <div class="brands-container">
            <div class="col brand-item">
                <ul>
                    <li><a href="popup.html" class="brands-popup">Chanel</a></li>
                    <li><a href="popup.html" class="brands-popup">Dior</a></li>
                    <li><a href="popup.html" class="brands-popup">Estee Lauder</a></li>
                    <li><a href="popup.html" class="brands-popup">Tom Ford</a></li>
                    <li><a href="popup.html" class="brands-popup">Giorgio Armani</a></li>
                    <li><a href="popup.html" class="brands-popup">Lanvin</a></li>
                    <li><a href="popup.html" class="brands-popup">Guerlain</a></li>
                </ul>
            </div>
            <div class="col brand-item">
                <ul>
                    <li><a href="popup.html" class="brands-popup">Yves Saint Laurent</a></li>
                    <li><a href="popup.html" class="brands-popup">Givenchy</a></li>
                    <li><a href="popup.html" class="brands-popup">Clinique</a></li>
                    <li><a href="popup.html" class="brands-popup">Mancera</a></li>
                    <li><a href="popup.html" class="brands-popup">Montale</a></li>
                    <li><a href="popup.html" class="brands-popup">Paco Rabanne</a></li>
                    <li><a href="popup.html" class="brands-popup">Biotherm</a></li>
                </ul>
            </div>
            <div class="col brand-item">
                <ul>
                    <li><a href="popup.html" class="brands-popup">Alexandre J</a></li>
                    <li><a href="popup.html" class="brands-popup">Lab Series</a></li>
                    <li><a href="popup.html" class="brands-popup">Juliette has a gun</a></li>
                    <li><a href="popup.html" class="brands-popup">Nina Ricci</a></li>
                    <li><a href="popup.html" class="brands-popup">DKNY</a></li>
                    <li><a href="popup.html" class="brands-popup">Hugo Boss</a></li>
                    <li><a href="popup.html" class="brands-popup">Carolina Herrera</a></li>
                </ul>
            </div>
            <div class="col brand-item">
                <ul>
                    <li><a href="popup.html" class="brands-popup">Lancome</a></li>
                    <li><a href="popup.html" class="brands-popup">Versace</a></li>
                    <li><a href="popup.html" class="brands-popup">Antonio Banderas</a></li>
                    <li><a href="popup.html" class="brands-popup">Gucci</a></li>
                    <li><a href="popup.html" class="brands-popup">Max Factor</a></li>
                    <li><a href="popup.html" class="brands-popup">Lumene</a></li>
                    <li><a href="popup.html" class="brands-popup">Garnier</a></li>
                </ul>
            </div>
            <div class="col brand-item">
                <ul>
                    <li><a href="popup.html" class="brands-popup">Scwarzkopf</a></li>
                    <li><a href="popup.html" class="brands-popup">Maybelline</a></li>
                    <li><a href="popup.html" class="brands-popup">Garnier</a></li>
                    <li><a href="popup.html" class="brands-popup">Lacoste</a></li>
                    <li><a href="popup.html" class="brands-popup">Nivea</a></li>
                    <li><a href="popup.html" class="brands-popup">L’Oreal</a></li>
                    <li><a href="popup.html" class="brands-popup">Bourjois</a></li>
                </ul>
            </div>
             <div class="col brand-item">
                <ul>
                    <li><a href="popup.html" class="brands-popup">Bigen</a></li>
                    <li><a href="popup.html" class="brands-popup">Jade</a></li>
                    <li><a href="popup.html" class="brands-popup">Artdeco</a></li>
                    <li><a href="popup.html" class="brands-popup">Kenzo</a></li>
                </ul>
            </div>
        </div>
	    <div class="points-container">
            <div class="point" style="right:-65px;left:initial;top:150px;bottom:initial;"> <img src="images/icons-about/i-1.svg" alt=""> </div>
            <div class="point" style="right:-190px;left:initial;top:initial;bottom:-200px;"> <img src="images/icons-about/i-2.svg" alt=""> </div>
            <div class="point" style="right:initial;left:-155px;top:initial;bottom:-200px;"> <img src="images/icons-about/i-4.svg" alt=""> </div>
            <div class="point" style="right:initial;left:20px;top:initial;bottom:200px;"> <img src="images/icons-about/i-5.svg" alt=""> </div>
            <div class="point" style="right:initial;left:-30px;top:400px;bottom:initial;"> <img src="images/icons-about/i-6.svg" alt=""> </div>
            <div class="point" style="right:initial;left:310px;top:180px;bottom:initial;"> <img src="images/icons-about/i-7.svg" alt=""> </div>
            <div class="point" style="right:335px;left:initial;top:-120px;bottom:initial;"> <img src="images/icons-about/i-8.svg" alt=""> </div>
        </div>
    </div>
</div>

{% endblock %}