<!-- О компании -->
{% set title = "Stars Club" %}
{% set page = "club" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}

{% 
    set points = [
        {
            right: '340px',
            top: '-100px',
            left: 'initial',
            bottom: 'initial',
            img: '../images/icons-stars-club/i-1.svg'
        },
        {
            right: '-65px',
            top: '130px',
            left: 'initial',
            bottom: 'initial',
            img: '../images/icons-stars-club/i-2.svg'
        },
        {
            right: '-205px',
            top: 'initial',
            left: 'initial',
            bottom: '120px',
            img: '../images/icons-stars-club/i-3.svg'
        },
        {
            right: 'initial',
            top: 'initial',
            left: '15px',
            bottom: '30px',
            img: '../images/icons-stars-club/i-4.svg'
        },
         {
            right: 'initial',
            top: '320px',
            left: '-60px',
            bottom: 'initial',
            img: '../images/icons-stars-club/i-5.svg'
        }
    ]
%}

<div class="page-club">
	<div class="container">
		<h2 class="page-title">Бонусная программа Stars Club</h2>
    </div>
    
        <div class="club-tabs">
            <div class="container">
                <ul class="nav-tabs" role="tablist">
                    <li class="active">
                        <a href="#tab1" data-toggle="tab">Косметика</a>
                    </li>
                    <li>
                        <a href="#tab2" data-toggle="tab">Парфюмерия</a>
                    </li>
                    <li>
                        <a href="#tab3" data-toggle="tab">Косметика</a>
                    </li>
                    <li>
                        <a href="#tab4" data-toggle="tab">Парфюмерия</a>
                    </li>
                </ul>
            </div>
            

            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <div class="container">
                        <div class="club-info">
                            <div class="club-info-item">
                                <b>
                                    Что такое Stars Club?
                                </b>
                                <p>
                                    Saks Plus – бонусная программа Saks Fifth Avenue 
                                    Almaty, позволяющая копить бонусы от совершенных покупок. Больше покупок - больше бонусов. 
                                </p>
                            </div>
                            <div class="club-info-item">
                                <b>
                                    Как получить карту Stars Club?
                                </b>
                                <p>
                                    Карта выдается при совершении первой покупки при условии заполнения анкеты участника программы Saks Plus. 
                                </p>
                            </div>
                            <div class="club-info-item">
                                <b>
                                    ЧГде можно использовать карту Stars Club?
                                </b>
                                <p>
                                    Карта действует на территории Казахстана в Saks Fifth Avenue, Dolce&Gabbana, Gucci, Ralph Lauren, Loro Piana, Giorgio Armani, Stella McCartney, Lanvin и не действительна 
                                    в других странах.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="club-img">
                        <img src="/images/samples/club-img.png" alt="">
                    </div>

                </div>
                <div class="tab-pane" id="tab2">
                    22222222
                </div>
                <div class="tab-pane" id="tab3">
                    333333333
                </div>
                <div class="tab-pane" id="tab4">
                    4444444
                </div>
            </div>  

        </div>
		
    <div class="points-container">
        {% for item in points %}
            {% include "points/_points.html" %}
        {% endfor %}
    </div>

</div>

{% endblock %}