<!-- О компании -->
{% set title = "Контакты" %}
{% set page = "contacts" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}

{% 
    set items = [
      {
        adres: 'ТРЦ Мега Астана, 
				Коргалжинское ш. 1,
				Астана 010017 <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum adipisci, error ducimus laborum ratione. Iusto modi, placeat optio animi quae. Nulla illum aliquid ab incidunt odit quisquam beatae minus suscipit!</div>
                <div>Obcaecati tempora numquam aperiam neque est, optio. Laboriosam cum nam veniam, necessitatibus nisi aliquam unde fugiat natus provident. Eligendi blanditiis consequuntur mollitia soluta magni sed aperiam rerum illum laboriosam ullam.</div>
                <div>Architecto voluptates libero atque praesentium non natus eveniet minima laudantium porro nemo numquam vel commodi consequuntur cupiditate, adipisci odio, itaque ipsum culpa necessitatibus repellendus est obcaecati voluptate id. Corporis, labore.</div>
                <div>Unde autem cum, facilis praesentium, explicabo voluptas alias. Voluptates voluptatum aut quasi molestias veritatis error architecto facere recusandae laboriosam voluptate iure mollitia quidem ex consequuntur nisi ad possimus, reprehenderit consectetur.</div>
                <div>Nostrum eos amet expedita est et at porro maiores, accusantium ex distinctio. Voluptatem molestiae, nobis, tempore dolorem asperiores animi vitae, reiciendis, vel blanditiis laudantium ut recusandae mollitia porro. Possimus, fugit!</div>',
        img: '../images/samples/place-pic01.png',
        lat: '50.2893834',
        lag: '57.1924384',
        marker: '/images/map-marker.svg'
      }
    ]
%}
{% 
    set items_2 = [
      {
        adres: 'ТРЦ «Baizaar mall»
				Кулманова, 111а
				Тел.: +7 7122 766 661',
        img: '../images/samples/place-pic01.png',
        lat: '47.1088253',
        lag: '51.9009734',
        marker: '/images/map-marker.svg'
      }
    ]
%}


{% 
    set points = [
        {
            right: '315px',
            top: '-80px',
            left: 'initial',
            bottom: 'initial',
            img: '../images/icons-contacts/i-1.svg'
        },
        {
            right: '-65px',
            top: '130px',
            left: 'initial',
            bottom: 'initial',
            img: '../images/icons-contacts/i-2.svg'
        },
         {
            right: '-225px',
            top: 'initial',
            left: 'initial',
            bottom: '-80px',
            img: '../images/icons-contacts/i-3.svg'
        },
        {
            right: 'initial',
            top: 'initial',
            left: '340px',
            bottom: '80px',
            img: '../images/icons-contacts/i-4.svg'
        },
        {
            right: 'initial',
            top: 'initial',
            left: '25px',
            bottom: '240px',
            img: '../images/icons-contacts/i-5.svg'
        },
        {
            right: 'initial',
            top: '370px',
            left: '-60px',
            bottom: 'initial',
            img: '../images/icons-contacts/i-6.svg'
        },
        {
            right: 'initial',
            top: '180px',
            left: '620px',
            bottom: 'initial',
            img: '../images/icons-contacts/i-7.svg'
        }
    ]
%}

<div class="page-contacts">
	<div class="container">
		<h2 class="page-title">Контакты</h2>
		
		<div class="contacts-tabs">
			
			<!-- Основная навигация по городам -->
      		<ul class="nav-tabs" role="tablist">
                <li class="active">
                    <a href="#tab1" data-toggle="tab" class="up-links">Астана</a>
                </li>
                <li>
                    <a href="#tab2" data-toggle="tab" class="up-links">Атырау</a>
                </li>
                <li>
                    <a href="#tab3" data-toggle="tab" class="up-links">Актобе</a>
                </li>
            </ul>
            <!-- конец основной навигации -->
			
			<!-- родитель контента всех городов -->
            <div class="tab-content">
				
				<!-- Контент первого города-->
                <div class="tab-pane tab-pane-up active" id="tab1">
					<!-- внутрення навигация по адресса -->
                    <ul class="nav-tabs-inside" role="tablist">
		                <li class="active">
		                    <a href="#tab1-1" data-toggle="tab">ТРЦ Keruen City</a>
		                </li>
		                <li>
		                    <a href="#tab1-2" data-toggle="tab">Вокзал "Нурлы жол"</a>
		                </li>
		            </ul>
					<!-- конец внутренней навигации -->
					<!-- внутренний контент адрессов -->
		            <div class="tab-content-inside" id="jsMapTabs">
						<!-- контент первого адресса -->
                		<div class="tab-pane tab-pane-down active" id="tab1-1">
                			{% for item in items %}
		    					{% include "contacts-item/_contacts-item.html" %}
		    				{% endfor %}
                		</div>
                		<!-- end -->
                		<!-- контент второго адреса -->
                		<div class="tab-pane tab-pane-down " id="tab1-2">
                			{% for item in items_2 %}
		    					{% include "contacts-item/_contacts-item.html" %}
		    				{% endfor %}
                		</div>
						<!-- end -->
                	</div>
                	<!-- конец внутреннего контента -->
                </div>
				<!-- END -->
				<!-- Контент второго города -->
                <div class="tab-pane tab-pane-up" id="tab2">
					<!-- внутрення навигация по адресса -->
                    <ul class="nav-tabs-inside" role="tablist">
		                <li class="active">
		                    <a href="#tab2-1" data-toggle="tab">ТРЦ MEGA City</a>
		                </li>
		                <li>
		                    <a href="#tab2-2" data-toggle="tab">Вокзал "ULTRA"</a>
		                </li>
		            </ul>
					<!-- конец внутренней навигации -->
					<!-- внутренний контент адрессов -->
		            <div class="tab-content-inside" id="jsMapTabs">
						<!-- контент первого адресса -->
                		<div class="tab-pane tab-pane-down  active" id="tab2-1">
                			{% for item in items %}
		    					{% include "contacts-item/_contacts-item.html" %}
		    				{% endfor %}
                		</div>
                		<!-- end -->
                		<!-- контент второго адреса -->
                		<div class="tab-pane tab-pane-down" id="tab2-2">
                			{% for item in items_2 %}
		    					{% include "contacts-item/_contacts-item.html" %}
		    				{% endfor %}
                		</div>
						<!-- end -->
                	</div>
                	<!-- конец внутреннего контента -->
                </div>
                <!-- END -->
                <!-- Контент третьего города -->
                <div class="tab-pane tab-pane-up" id="tab3">
                    
                </div>
                <!-- END -->
            </div>
            <!-- Конец контента всех городов -->

        </div>
	</div>

    <div class="points-container">
        {% for item in points %}
            {% include "points/_points.html" %}
        {% endfor %}
    </div>

</div>
{% endblock %}
