<!-- О компании -->
{% set title = "Клиентские дни" %}
{% set page = "customer_day" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}

{% 
    set items = [
      {
        img: '../images/samples/customer-pic-01.png',
        title: 'Code de Vie Астана приглашает Вас на клиентский день Guerlain',
        text:   'На котором Вы сможете приобрести продукцию французского бренда со скидкой -15%!',
        day: '20',
        month: 'июнь',
        city: 'астана'
      },
      {
        img: '../images/samples/customer-pic-02.png',
        title: 'Code de Vie Астана приглашает Вас на клиентский день Guerlain',
        text:   'На котором Вы сможете приобрести продукцию французского бренда со скидкой -15%!',
        day: '23',
        month: 'июнь',
        city: 'астана'
      },
      {
        img: '../images/samples/customer-pic-03.png',
        title: 'Code de Vie Астана приглашает Вас на клиентский день Guerlain',
        text:   'На котором Вы сможете приобрести продукцию французского бренда со скидкой -15%!',
        day: '24',
        month: 'июнь',
        city: 'алматы'
      }
    ]
 %}

 {% 
    set points = [
        {
          right: '345px',
          top: '-100px',
          left: 'initial',
          bottom: 'initial',
          img: '../images/icons-customer-day/i-1.svg'
        },
        {
          right: '-65px',
          top: '150px',
          left: 'initial',
          bottom: 'initial',
          img: '../images/icons-customer-day/i-2.svg'
        },
        {
          right: '-225px',
          top: '585px',
          left: 'initial',
          bottom: 'initial',
          img: '../images/icons-customer-day/i-3.svg'
        },
        {
          right: '-45px',
          top: '1085px',
          left: 'initial',
          bottom: 'initial',
          img: '../images/icons-customer-day/i-4.svg'
        },
        {
          right: '505px',
          top: 'initial',
          left: 'initial',
          bottom: '-125px',
          img: '../images/icons-customer-day/i-5.svg'
        },
        {
          right: 'initial',
          top: 'initial',
          left: '425px',
          bottom: '-20px',
          img: '../images/icons-customer-day/i-6.svg'
        },
        {
          right: 'initial',
          top: 'initial',
          left: '-75px',
          bottom: '-40px',
          img: '../images/icons-customer-day/i-7.svg'
        },
        {
          right: 'initial',
          top: 'initial',
          left: '5px',
          bottom: '700px',
          img: '../images/icons-customer-day/i-8.svg'
        },
        {
          right: 'initial',
          top: '400px',
          left: '25px',
          bottom: 'initial',
          img: '../images/icons-customer-day/i-9.svg'
        },
        {
          right: 'initial',
          top: '240px',
          left: '310px',
          bottom: 'initial',
          img: '../images/icons-customer-day/i-10.svg'
        }
    ]
%}

<div class="page-customer-day">
	<div class="container">
		<h2 class="page-title">клиентский день</h2>

		<div class="customer-items">
			{% for item in items %}
        {% include "customer-item/_customer-item.html" %}
      {% endfor %}
		</div>

	</div>

  <div class="points-container">
    {% for item in points %}
      {% include "points/_points.html" %}
    {% endfor %}
  </div>

</div>
{% endblock %}
