<!-- О компании -->
{% set title = "Акции" %}
{% set page = "sale" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}

{% 
    set items = [
      {
        img: '../images/samples/sale-pic07.jpg',
        title: 'Фейерверк летних сюрпризов от IsaDora!',
        text: 	'С 1 по 31 июля действует акция на весь ассортимент бренда. 
				При покупке любого 1 продукта из ассортимента марки IsaDora вас ждет скидка 10%. При покупке любых 2 продуктов из ассортимента марки IsaDora вас ждет скидка 15%. При покупке любых 3 продуктов из ассортимента марки IsaDora вас ждет скидка 25%.'
      },
      {
        img: '../images/samples/sale-pic07.jpg',
        title: 'Code De Vie объявляет Уникальную Акцию!',
        text: 'Только 17 и 18 Июня получите гарантированный возврат в виде Подарочного Сертификата до 40% от суммы чека. Торопитесь! Количество сертификатов ограничено.'
      },
      {
     	img: '../images/samples/sale-pic07.jpg',
        title: 'Фейерверк летних сюрпризов от IsaDora!',
        text: 	'С 1 по 31 июля действует акция на весь ассортимент бренда. 
				При покупке любого 1 продукта из ассортимента марки IsaDora вас ждет скидка 10%. При покупке любых 2 продуктов из ассортимента марки IsaDora вас ждет скидка 15%. При покупке любых 3 продуктов из ассортимента марки IsaDora вас ждет скидка 25%.'
      },
      {
        img: '../images/samples/sale-pic07.jpg',
        title: 'Code De Vie объявляет Уникальную Акцию!',
        text: 'Только 17 и 18 Июня получите гарантированный возврат в виде Подарочного Сертификата до 40% от суммы чека. Торопитесь! Количество сертификатов ограничено.'
      }
    ]
 %}

 {% 
    set points = [
        {
          right: 'initial',
          top: '50px',
          left: '530px',
          bottom: 'initial',
          img: '../images/icons-sale/i-1.svg'
        },
        {
          right: 'initial',
          top: '210px',
          left: '780px',
          bottom: 'initial',
          img: '../images/icons-sale/i-2.svg'
        },
        {
          right: '-135px',
          top: '60px',
          left: 'initial',
          bottom: 'initial',
          img: '../images/icons-sale/i-3.svg'
        },
        {
          right: '-5px',
          top: '570px',
          left: 'initial',
          bottom: 'initial',
          img: '../images/icons-sale/i-4.svg'
        },
        {
          right: '-65px',
          top: '840px',
          left: 'initial',
          bottom: 'initial',
          img: '../images/icons-sale/i-5.svg'
        },
        {
          right: '120px',
          top: 'initial',
          left: 'initial',
          bottom: '-300px',
          img: '../images/icons-sale/i-6.svg'
        },
        {
          right: 'initial',
          top: 'initial',
          left: '-140px',
          bottom: '120px',
          img: '../images/icons-sale/i-7.svg'
        },
        {
          right: 'initial',
          top: '550px',
          left: '45px',
          bottom: 'initial',
          img: '../images/icons-sale/i-8.svg'
        },
        {
          right: 'initial',
          top: '300px',
          left: '5px',
          bottom: 'initial',
          img: '../images/icons-sale/i-9.svg'
        }
    ]
%}
{% 
    set socialLinks = [
        {
          class: 'twitter',
          title: 'Твитнуть'
        },
        {
          class: 'facebook',
          title: 'Поделиться'
        },
        {
          class: 'vkontakte',
          title: 'Поделиться'
        },
        {
          class: 'telegram',
          title: 'Отправить'
        },
        {
          class: 'whatsapp',
          title: 'Отправить'
        }
    ]
%}

<div class="page-sale">
	<div class="container">
		<h2 class="page-title">Акции</h2>
		<div class="sale-items">
			{% for item in items %}
				{% include "sale-item/_sale-item.html" %}
			{% endfor %}
		</div>
	</div>
  
  <div class="points-container">
    {% for item in points %}
      {% include "points/_points.html" %}
    {% endfor %}
  </div>
  
  <div class="social-links">
    <div class="container">
      <div class="social-links-title">
        <h2>Поделиться:</h2>
      </div>
      {% for item in socialLinks %}
        {% include "social-links/_social-links.html" %}
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}
