<!-- .footer -->
<footer class="footer">
  <div class="container">
    <div class="col">
    	<div class="copyright">
    		<p>2017  Codevie. Все права защищены</p>
    	</div>
    </div>
    <div class="col">
    	<div class="social">
    		<p>Мы в соц. сетях:</p>
    		<div class="social-links">
    			<a href="#"></a>
    			<a href="#"></a>
    		</div>
    	</div>
    </div>
    <div class="col">
    	<div class="made-in">
    		<p>Сделано в<a href="#">Amphibia</a></p>
    	</div>
    </div>
  </div>
</footer><!-- end .footer -->
