.social-links {
	height: 40px;
	line-height: 40px;
	.social-links-title {
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
		h2 {
			@extend .font-bold;
			letter-spacing: 4px;
			color: #000000;
			font-size: 20px;
			text-transform: uppercase;
			display: block;
			margin: 0;
			white-space: nowrap;
		}
	}
	.likely {
		display: inline-block;
		vertical-align: middle;
		div {
			display: inline-block;
			vertical-align: middle;
			margin-right: 15px;
		}
	}
}