<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
  <meta name="theme-color" content="#000000">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCMj2rfyStL44OtZzxpnLCI8JiJs-dSvkA"></script>

  <title>{{title}}</title>

  <!-- build:css styles/vendor.min.css -->
    <link rel="stylesheet" href="/bower_components/swiper/dist/css/swiper.css">
    <link rel="stylesheet" href="/bower_components/flickity/css/flickity.css">
    <link rel="stylesheet" href="/bower_components/jquery-colorbox/example1/colorbox.css">
    <link rel="stylesheet" href="/bower_components/Likely/release/likely.css">
  <!-- endbuild -->

  <!-- build:css styles/main.min.css -->
    <link rel="stylesheet" href="styles/main.css" />
  <!-- endbuild -->

 

</head>

<body data-template="{{page}}">

  <!--[if lt IE 10]>
    <p class="browserupgrade">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    </p>
  <![endif]-->

  <!-- .wrapper -->
  <div class="wrapper">

    <div class="wrapper-in">

      {% include "header/_header.html" %}
      {% include "m-nav-main/_m-nav.html" %}
      <!-- .content -->
      <main class="content">
        {% block content %}{% endblock %}
      </main><!-- end .content -->

    </div>

    {% include "footer/_footer.html" %}

    <div class="m-overlay"></div>

  </div><!-- end .wrapper -->



  <!-- build:js scripts/vendor.min.js -->
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/bower_components/swiper/dist/js/swiper.js"></script>
  <script src="/bower_components/flickity/dist/flickity.pkgd.min.js"></script>
  <script src="/bower_components/instafeed.js/instafeed.js"></script>
  <script src="/bower_components/bootstrap/js/tab.js"></script>
  <script src="/bower_components/jquery-colorbox/jquery.colorbox.js"></script>
  <script src="/bower_components/Likely/release/likely.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/main.min.js -->
  <script src="scripts/main.js"></script>
  <script src="components/main-promo/_main-promo.js"></script>
  <script src="components/instagramm-widget/_instagramm-widget.js"></script>
  <script src="components/contacts/_contacts.js"></script>
  <script src="components/points/_points.js"></script>
  <script src="components/main-bestsellers/_main-bestsellers.js"></script>
  <script src="components/m-nav-main/_m-nav.js"></script>
  <script src="components/header/_header.js"></script>
  <script src="components/brands/_brands.js"></script>
  <!-- endbuild -->

</body>

</html>
